@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Raleway;
  src: url("/fonts/Raleway-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url("/fonts/Raleway-Regular.ttf");
  font-display: swap;
}

html {
  font-size: 15px;
}
