<a href="/contact-me" class="group">
  <h3 class="mb-8 text-center text-2xl font-bold dark:text-slate-200">
    Contact me
  </h3>
  <svg
    width="203"
    height="200"
    viewBox="0 0 203 200"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_201_1147)">
      <path
        opacity="0.4"
        d="M63.26 198.651L22.4685 175.103C19.0152 173.102 19.4474 169.624 23.4369 167.32L121.97 110.442C125.972 108.137 131.994 107.889 135.447 109.882L176.239 133.431C179.692 135.431 179.26 138.913 175.271 141.214L76.7372 198.095C72.7476 200.396 66.7134 200.648 63.26 198.651Z"
        fill="#D6D8E5"></path>
      <path
        d="M68.426 195.554L27.6385 172.005C24.1812 170.005 24.6174 166.523 28.6069 164.222L127.136 107.333C131.138 105.032 137.14 104.78 140.617 106.777L181.405 130.326C184.858 132.326 184.426 135.804 180.437 138.108L81.9071 194.994C77.9176 197.299 71.8833 197.547 68.426 195.554Z"
        fill="#B1B4C4"></path>
      <path
        d="M25.3056 168.572V164.819L29.7113 166.479L25.3056 168.572Z"
        fill="#B1B4C4"></path>
      <path
        d="M183.738 133.575V129.965L180.237 132.222L183.738 133.575Z"
        fill="#B1B4C4"></path>
      <path
        d="M68.426 192.373L27.6385 168.824C24.1812 166.823 24.6174 163.346 28.6069 161.041L127.136 104.156C131.138 101.851 137.14 101.603 140.617 103.595L181.405 127.144C184.858 129.145 184.426 132.626 180.437 134.927L81.9071 191.817C77.9176 194.118 71.8833 194.37 68.426 192.373Z"
        fill="#616E84"></path>
      <path
        d="M32.5601 173.651C32.7687 173.53 32.7686 173.139 32.5597 172.778C32.3509 172.416 32.0125 172.22 31.8038 172.341C31.5952 172.461 31.5954 172.852 31.8043 173.214C32.0131 173.576 32.3515 173.771 32.5601 173.651Z"
        fill="#757B89"></path>
      <path
        d="M34.5238 174.786C34.7324 174.665 34.7322 174.274 34.5233 173.912C34.3145 173.551 33.9761 173.355 33.7675 173.476C33.5589 173.596 33.559 173.987 33.7679 174.349C33.9767 174.71 34.3151 174.906 34.5238 174.786Z"
        fill="#757B89"></path>
      <path
        d="M36.4874 175.916C36.696 175.796 36.6958 175.405 36.487 175.043C36.2781 174.682 35.9397 174.486 35.7311 174.606C35.5225 174.727 35.5227 175.118 35.7315 175.479C35.9404 175.841 36.2788 176.037 36.4874 175.916Z"
        fill="#757B89"></path>
      <path
        d="M38.4495 177.053C38.6582 176.932 38.658 176.541 38.4491 176.179C38.2403 175.818 37.9019 175.622 37.6933 175.743C37.4846 175.863 37.4848 176.254 37.6937 176.616C37.9025 176.977 38.2409 177.173 38.4495 177.053Z"
        fill="#757B89"></path>
      <path
        d="M55.3102 186.783C55.5188 186.662 55.5187 186.272 55.3098 185.91C55.101 185.548 54.7626 185.353 54.5539 185.473C54.3453 185.593 54.3455 185.984 54.5544 186.346C54.7632 186.708 55.1016 186.903 55.3102 186.783Z"
        fill="#757B89"></path>
      <path
        d="M57.2704 187.92C57.479 187.799 57.4788 187.408 57.27 187.047C57.0611 186.685 56.7227 186.489 56.5141 186.61C56.3055 186.73 56.3057 187.121 56.5145 187.483C56.7233 187.845 57.0618 188.04 57.2704 187.92Z"
        fill="#757B89"></path>
      <path
        d="M59.234 189.05C59.4426 188.93 59.4424 188.539 59.2336 188.177C59.0247 187.816 58.6863 187.62 58.4777 187.741C58.2691 187.861 58.2693 188.252 58.4781 188.614C58.687 188.975 59.0254 189.171 59.234 189.05Z"
        fill="#757B89"></path>
      <path
        d="M61.1996 190.185C61.4082 190.064 61.408 189.673 61.1992 189.312C60.9903 188.95 60.6519 188.754 60.4433 188.875C60.2347 188.995 60.2349 189.386 60.4437 189.748C60.6526 190.11 60.991 190.305 61.1996 190.185Z"
        fill="#757B89"></path>
      <path
        d="M49.2187 183.642L43.8287 180.525C43.6395 180.391 43.4846 180.214 43.3768 180.009C43.269 179.804 43.2113 179.576 43.2084 179.344C43.2084 178.888 43.4845 178.68 43.8287 178.876L49.2187 181.993C49.4079 182.127 49.5627 182.304 49.6705 182.509C49.7783 182.714 49.8361 182.942 49.839 183.174C49.8189 183.63 49.5428 183.838 49.2187 183.642Z"
        fill="#757B89"></path>
      <path
        d="M171.393 142.518L166.375 145.415C166.059 145.595 165.799 145.415 165.799 144.979C165.803 144.763 165.857 144.552 165.957 144.361C166.057 144.17 166.2 144.005 166.375 143.879L171.393 140.986C171.709 140.802 171.965 140.986 171.965 141.418C171.962 141.633 171.909 141.845 171.81 142.036C171.71 142.227 171.568 142.392 171.393 142.518Z"
        fill="#757B89"></path>
      <path
        d="M163.71 146.952L158.692 149.849C158.376 150.033 158.116 149.849 158.116 149.413C158.12 149.198 158.175 148.987 158.275 148.797C158.375 148.606 158.518 148.442 158.692 148.316L163.71 145.419C164.026 145.235 164.282 145.419 164.282 145.855C164.28 146.07 164.227 146.281 164.127 146.472C164.028 146.662 163.885 146.827 163.71 146.952Z"
        fill="#757B89"></path>
      <path
        d="M68.426 191.797L27.6385 168.248C24.1812 166.247 24.6174 162.77 28.6069 160.465L127.136 103.579C131.138 101.274 137.14 101.022 140.617 103.019L181.405 126.568C184.858 128.569 184.426 132.046 180.437 134.351L81.9071 191.237C77.9176 193.542 71.8833 193.79 68.426 191.797Z"
        fill="#20232D"></path>
      <path
        d="M177.027 127.508L161.101 118.305L161.065 118.329C159.181 119.413 156.131 119.413 154.263 118.329C152.394 117.245 152.382 115.48 154.263 114.395L154.303 114.371L138.377 105.168C135.976 103.771 132.038 103.771 129.617 105.168L33.6448 160.589C31.2439 161.986 31.2439 164.25 33.6448 165.647L72.3035 187.967C74.7244 189.364 78.6459 189.364 81.0628 187.967L177.027 132.562C179.444 131.166 179.444 128.905 177.027 127.508Z"
        fill="white"></path>
      <path
        opacity="0.5"
        d="M177.027 132.562L81.0628 187.967C78.878 189.228 75.4607 189.352 73.0357 188.328C72.7857 188.223 72.5425 188.103 72.3075 187.967L33.6448 165.663C33.1086 165.369 32.645 164.959 32.2883 164.463C31.3759 163.17 31.8281 161.633 33.6448 160.585L129.605 105.184C132.026 103.791 135.944 103.791 138.365 105.184L154.291 114.387H154.251C152.37 115.472 152.37 117.233 154.251 118.321C156.131 119.409 159.184 119.405 161.053 118.321L161.093 118.297L177.019 127.5C179.444 128.905 179.444 131.166 177.027 132.562Z"
        fill="url(#paint0_linear_201_1147)"></path>
      <path
        d="M156.612 118.029C157.621 118.029 158.44 117.556 158.44 116.972C158.44 116.389 157.621 115.916 156.612 115.916C155.602 115.916 154.783 116.389 154.783 116.972C154.783 117.556 155.602 118.029 156.612 118.029Z"
        fill="#2B303F"></path>
      <path
        opacity="0.1"
        d="M156.059 117.285C155.995 117.261 155.94 117.219 155.901 117.163C155.862 117.107 155.841 117.041 155.841 116.972C155.841 116.904 155.862 116.838 155.901 116.782C155.94 116.726 155.995 116.684 156.059 116.66C156.227 116.575 156.413 116.531 156.602 116.531C156.79 116.531 156.976 116.575 157.144 116.66C157.21 116.682 157.267 116.723 157.308 116.78C157.349 116.836 157.371 116.903 157.371 116.972C157.371 117.042 157.349 117.109 157.308 117.165C157.267 117.221 157.21 117.263 157.144 117.285C156.976 117.37 156.79 117.414 156.602 117.414C156.413 117.414 156.227 117.37 156.059 117.285Z"
        fill="white"></path>
      <path
        d="M163.166 124.587L162.474 124.187L163.63 123.519L164.322 123.919L163.166 124.587Z"
        fill="#E9EAF2"></path>
      <path
        d="M164.09 125.12L163.398 124.719L165.015 123.787L165.707 124.187L164.09 125.12Z"
        fill="#E9EAF2"></path>
      <path
        d="M165.015 125.652L164.322 125.252L166.631 123.919L167.324 124.319L165.015 125.652Z"
        fill="#E9EAF2"></path>
      <path
        d="M165.939 126.188L165.247 125.788L168.48 123.919L169.172 124.319L165.939 126.188Z"
        fill="#E9EAF2"></path>
      <path
        d="M168.94 127.921L167.864 127.296L170.021 126.052L171.097 126.676L168.94 127.921Z"
        fill="#E9EAF2"></path>
      <path
        d="M170.381 128.749L169.3 128.129L171.457 126.884L172.534 127.504L170.381 128.749Z"
        fill="#E9EAF2"></path>
      <path
        d="M171.817 129.577L170.737 128.957L172.894 127.713L173.97 128.333L171.817 129.577Z"
        fill="#E9EAF2"></path>
      <path
        d="M126.708 117.357L121.75 114.492C121.062 114.091 121.15 113.407 121.942 112.951L126.516 110.31C126.921 110.082 127.375 109.954 127.839 109.934C128.304 109.915 128.766 110.005 129.189 110.198L134.147 113.059C134.831 113.459 134.747 114.147 133.955 114.604L129.381 117.245C128.975 117.471 128.522 117.599 128.058 117.618C127.594 117.638 127.131 117.548 126.708 117.357Z"
        fill="#E9EAF2"></path>
      <path
        d="M160.433 136.828L131.418 120.078C130.734 119.677 130.822 118.989 131.61 118.533L136.188 115.892C136.593 115.666 137.045 115.537 137.509 115.518C137.973 115.498 138.434 115.588 138.857 115.78L167.872 132.53C168.556 132.931 168.472 133.619 167.68 134.075L163.106 136.716C162.7 136.941 162.247 137.069 161.783 137.088C161.319 137.108 160.857 137.019 160.433 136.828Z"
        fill="#E9EAF2"></path>
      <path
        d="M116.664 123.155L111.706 120.29C111.022 119.89 111.106 119.205 111.899 118.749L116.472 116.108C116.878 115.881 117.331 115.752 117.795 115.733C118.26 115.713 118.722 115.803 119.145 115.996L124.103 118.845C124.787 119.245 124.703 119.934 123.911 120.39L119.337 123.031C118.933 123.259 118.48 123.389 118.016 123.411C117.551 123.432 117.089 123.344 116.664 123.155Z"
        fill="#E9EAF2"></path>
      <path
        d="M150.389 142.626L121.378 125.876C120.694 125.476 120.778 124.787 121.57 124.331L126.144 121.69C126.55 121.464 127.003 121.336 127.467 121.317C127.931 121.297 128.394 121.387 128.817 121.578L157.828 138.329C158.512 138.729 158.428 139.417 157.636 139.873L153.062 142.514C152.656 142.739 152.203 142.867 151.739 142.886C151.275 142.906 150.813 142.817 150.389 142.626Z"
        fill="#E9EAF2"></path>
      <g opacity="0.6">
        <path
          opacity="0.6"
          d="M106.625 128.953L101.663 126.088C100.978 125.688 101.062 125.003 101.855 124.547L106.432 121.906C106.837 121.679 107.29 121.55 107.754 121.531C108.217 121.511 108.679 121.602 109.101 121.794L114.063 124.655C114.748 125.056 114.66 125.744 113.871 126.2L109.294 128.849C108.888 129.074 108.435 129.201 107.971 129.219C107.508 129.237 107.046 129.146 106.625 128.953Z"
          fill="#E9EAF2"></path>
        <path
          opacity="0.6"
          d="M140.349 148.424L111.334 131.674C110.65 131.274 110.734 130.586 111.526 130.129L116.1 127.488C116.506 127.262 116.959 127.134 117.423 127.115C117.888 127.095 118.35 127.185 118.773 127.376L147.788 144.127C148.472 144.527 148.384 145.215 147.596 145.671L143.018 148.312C142.613 148.538 142.16 148.665 141.697 148.685C141.234 148.704 140.772 148.615 140.349 148.424Z"
          fill="#E9EAF2"></path>
      </g>
      <path
        d="M96.5807 134.751L91.6348 131.886C90.9505 131.486 91.0386 130.802 91.8269 130.346L96.4046 127.701C96.8099 127.475 97.2626 127.347 97.7262 127.328C98.1899 127.31 98.6514 127.4 99.0736 127.593L104.04 130.45C104.724 130.85 104.64 131.538 103.847 131.994L99.2377 134.639C98.8342 134.864 98.3838 134.991 97.9225 135.01C97.4611 135.03 97.0016 134.941 96.5807 134.751Z"
        fill="#E9EAF2"></path>
      <path
        d="M130.306 154.223L101.291 137.472C100.606 137.072 100.694 136.384 101.483 135.928L106.06 133.287C106.465 133.06 106.918 132.932 107.381 132.913C107.845 132.893 108.307 132.983 108.729 133.175L137.744 149.925C138.429 150.325 138.341 151.013 137.552 151.47L132.975 154.111C132.569 154.336 132.117 154.463 131.653 154.483C131.19 154.502 130.728 154.413 130.306 154.223Z"
        fill="#E9EAF2"></path>
      <path
        d="M86.5369 140.549L81.579 137.684C80.8947 137.284 80.9788 136.6 81.7711 136.144L86.3448 133.499C86.7508 133.273 87.2042 133.145 87.6685 133.127C88.1327 133.108 88.5949 133.198 89.0178 133.391L93.9757 136.252C94.66 136.652 94.5759 137.34 93.7836 137.796L89.2099 140.453C88.8028 140.677 88.349 140.802 87.8848 140.819C87.4206 140.836 86.959 140.743 86.5369 140.549Z"
        fill="#E9EAF2"></path>
      <path
        d="M120.262 160.021L91.2347 143.254C90.5504 142.854 90.6384 142.166 91.4267 141.71L96.0045 139.069C96.4102 138.842 96.8634 138.714 97.3276 138.695C97.7919 138.675 98.2543 138.765 98.6775 138.957L127.689 155.707C128.373 156.107 128.289 156.796 127.496 157.252L122.923 159.893C122.519 160.119 122.069 160.248 121.607 160.27C121.145 160.292 120.685 160.207 120.262 160.021Z"
        fill="#E9EAF2"></path>
      <g opacity="0.6">
        <path
          opacity="0.6"
          d="M76.4931 146.348L71.5352 143.483C70.8509 143.082 70.9349 142.398 71.7272 141.942L76.301 139.297C76.707 139.071 77.1604 138.944 77.6246 138.925C78.0889 138.906 78.5511 138.996 78.974 139.189L83.9319 142.054C84.6201 142.454 84.5321 143.142 83.7398 143.599L79.1661 146.24C78.7599 146.465 78.3066 146.592 77.8424 146.611C77.3782 146.63 76.9161 146.54 76.4931 146.348Z"
          fill="#E9EAF2"></path>
        <path
          opacity="0.6"
          d="M110.218 165.819L81.2068 149.069C80.5226 148.668 80.6066 147.98 81.3989 147.524L85.9726 144.883C86.3785 144.657 86.8316 144.529 87.2958 144.509C87.76 144.49 88.2223 144.58 88.6457 144.771L117.645 161.521C118.329 161.922 118.245 162.61 117.453 163.066L112.879 165.707C112.474 165.93 112.023 166.057 111.562 166.076C111.1 166.096 110.64 166.008 110.218 165.819Z"
          fill="#E9EAF2"></path>
      </g>
      <path
        d="M66.4533 152.146L61.4914 149.281C60.8071 148.881 60.8951 148.196 61.6834 147.74L66.2612 145.095C66.6665 144.869 67.1192 144.742 67.5828 144.723C68.0464 144.704 68.508 144.795 68.9302 144.987L73.8921 147.848C74.5764 148.248 74.4883 148.937 73.7 149.393L69.1223 152.034C68.7173 152.26 68.2647 152.388 67.8011 152.408C67.3375 152.427 66.8758 152.338 66.4533 152.146Z"
        fill="#E9EAF2"></path>
      <path
        d="M100.178 171.617L71.163 154.859C70.4788 154.459 70.5628 153.77 71.3551 153.314L75.9288 150.673C76.3347 150.447 76.7878 150.319 77.252 150.3C77.7162 150.28 78.1785 150.37 78.6019 150.561L107.617 167.312C108.301 167.712 108.213 168.4 107.425 168.856L102.839 171.505C102.435 171.729 101.984 171.856 101.522 171.875C101.06 171.895 100.6 171.806 100.178 171.617Z"
        fill="#E9EAF2"></path>
      <g opacity="0.6">
        <path
          opacity="0.6"
          d="M56.4214 157.944L51.4595 155.079C50.7753 154.679 50.8633 153.995 51.6516 153.538L56.2294 150.893C56.6354 150.667 57.0887 150.54 57.553 150.521C58.0173 150.502 58.4794 150.593 58.9024 150.785L63.8482 153.658C64.5325 154.059 64.4485 154.747 63.6562 155.203L59.0784 157.844C58.674 158.067 58.2231 158.192 57.7618 158.209C57.3005 158.226 56.8414 158.136 56.4214 157.944Z"
          fill="#E9EAF2"></path>
        <path
          opacity="0.6"
          d="M90.1342 177.415L61.1192 160.665C60.435 160.265 60.523 159.577 61.3113 159.12L65.889 156.479C66.294 156.253 66.7466 156.125 67.2102 156.105C67.6738 156.086 68.1355 156.176 68.558 156.367L97.5731 173.118C98.2573 173.518 98.1733 174.206 97.381 174.662L92.8032 177.303C92.3978 177.529 91.9454 177.656 91.482 177.676C91.0186 177.695 90.5571 177.606 90.1342 177.415Z"
          fill="#E9EAF2"></path>
      </g>
      <g opacity="0.6">
        <path
          opacity="0.6"
          d="M46.3656 163.742L41.4077 160.861C40.7235 160.461 40.8075 159.777 41.5998 159.321L46.1735 156.676C46.5796 156.45 47.0329 156.322 47.4972 156.303C47.9614 156.285 48.4236 156.375 48.8466 156.567L53.8044 159.429C54.4887 159.829 54.4047 160.517 53.6124 160.973L49.0386 163.614C48.6341 163.843 48.1816 163.974 47.7173 163.996C47.2531 164.018 46.7902 163.931 46.3656 163.742Z"
          fill="#E9EAF2"></path>
        <path
          opacity="0.6"
          d="M80.0904 183.214L51.0794 166.463C50.3911 166.063 50.4792 165.379 51.2675 164.923L55.8452 162.282C56.2509 162.055 56.7041 161.927 57.1684 161.908C57.6326 161.888 58.095 161.978 58.5182 162.17L87.5293 178.92C88.2135 179.32 88.1295 180.008 87.3372 180.465L82.7635 183.106C82.357 183.33 81.9038 183.457 81.4397 183.476C80.9757 183.495 80.5137 183.405 80.0904 183.214Z"
          fill="#E9EAF2"></path>
      </g>
      <!-- LEFT ENVELOPE -->
      <path
        class="group-hover:animate-envelope-move-right group-focus:animate-envelope-move-right"
        d="M28.6789 74.0521V93.8196C28.6785 93.9562 28.6541 94.0916 28.6069 94.2198C28.5811 94.3015 28.5476 94.3805 28.5068 94.4559C28.3872 94.6961 28.2046 94.8994 27.9786 95.0441L1.36852 110.41C1.29374 110.467 1.20347 110.501 1.10932 110.507C1.01518 110.513 0.921489 110.49 0.840318 110.442C0.794137 110.407 0.757059 110.362 0.732277 110.31C0.687475 110.215 0.665548 110.111 0.668253 110.006V90.2383C0.668685 90.1024 0.690285 89.9674 0.732277 89.8381C0.761091 89.7531 0.795857 89.6702 0.836317 89.59C0.958707 89.3504 1.14232 89.1475 1.36852 89.0018L27.9706 73.628C28.0466 73.5709 28.1381 73.538 28.233 73.5337C28.328 73.5295 28.422 73.5539 28.5028 73.604C28.5469 73.6391 28.5836 73.6826 28.6109 73.732C28.6591 73.8316 28.6825 73.9415 28.6789 74.0521Z"
        fill="#DDB545"></path>
      <path
        class="group-hover:animate-envelope-move-right group-focus:animate-envelope-move-right"
        d="M0.892334 110.458L1.91672 111.022L1.98075 109.206L0.892334 110.458Z"
        fill="#DDB545"></path>
      <path
        class="group-hover:animate-envelope-move-right group-focus:animate-envelope-move-right"
        d="M28.4308 73.58L29.5352 74.1842L27.9786 76.0489L28.4308 73.58Z"
        fill="#DDB545"></path>
      <path
        class="group-hover:animate-envelope-move-right group-focus:animate-envelope-move-right"
        d="M29.7113 74.6204V94.3879C29.7088 94.5242 29.6845 94.6593 29.6393 94.788C29.6118 94.8691 29.5783 94.948 29.5392 95.0241C29.4196 95.2643 29.237 95.4676 29.011 95.6123L2.40091 110.97C2.32532 111.026 2.23462 111.059 2.14049 111.063C2.04636 111.067 1.9531 111.043 1.87271 110.994C1.82753 110.96 1.7906 110.916 1.76467 110.866C1.71698 110.772 1.69359 110.667 1.69665 110.562V90.7945C1.69644 90.6582 1.71945 90.5229 1.76467 90.3944C1.87895 90.0563 2.10288 89.7662 2.40091 89.57L29.003 74.2122C29.0784 74.1558 29.1689 74.1231 29.2629 74.1181C29.3569 74.1131 29.4503 74.1361 29.5312 74.1842C29.5774 74.2188 29.6145 74.2641 29.6393 74.3162C29.6883 74.41 29.7131 74.5146 29.7113 74.6204Z"
        fill="#FFD44D"></path>
      <path
        class="group-hover:animate-envelope-move-right group-focus:animate-envelope-move-right"
        opacity="0.12"
        d="M1.8127 111.066L15.702 92.5111L29.5672 94.9601V96.9208L1.69666 113.011L1.8127 111.066Z"
        fill="black"></path>
      <path
        class="group-hover:animate-envelope-move-right group-focus:animate-envelope-move-right"
        opacity="0.05"
        d="M15.702 92.5111L1.8407 90.2223L0.564214 89.8141L0 112.359L1.87271 110.994L15.702 92.5111Z"
        fill="black"></path>
      <path
        class="group-hover:animate-envelope-move-right group-focus:animate-envelope-move-right"
        opacity="0.05"
        d="M15.702 92.5111L29.5672 74.2122L30.8437 72.3355L31.4079 94.2238L29.5672 94.9601L15.702 92.5111Z"
        fill="black"></path>
      <!--  -->
      <!-- RIGHT ENVELOPE -->
      <path
        class="group-hover:animate-envelope-move-left group-focus:animate-envelope-move-left"
        d="M199.536 24.9015V48.0463C199.532 48.2044 199.504 48.3611 199.452 48.5104C199.418 48.6045 199.38 48.6967 199.336 48.7865C199.195 49.068 198.981 49.3059 198.716 49.4748L167.556 67.4816C167.467 67.5469 167.36 67.5844 167.25 67.5894C167.139 67.5944 167.03 67.5667 166.935 67.5097C166.882 67.4694 166.838 67.4174 166.807 67.3576C166.754 67.2467 166.728 67.1245 166.731 67.0015V43.8367C166.733 43.6839 166.76 43.5325 166.811 43.3885C166.844 43.2895 166.884 43.1931 166.931 43.1004C167.072 42.8168 167.288 42.5774 167.556 42.4081L198.708 24.4093C198.796 24.3424 198.902 24.3035 199.013 24.2978C199.123 24.2921 199.233 24.3198 199.328 24.3773C199.383 24.4164 199.427 24.4687 199.456 24.5293C199.512 24.6451 199.539 24.7728 199.536 24.9015Z"
        fill="#DDB545"></path>
      <path
        class="group-hover:animate-envelope-move-left group-focus:animate-envelope-move-left"
        d="M166.995 67.5297L168.196 68.1899L168.272 66.0611L166.995 67.5297Z"
        fill="#DDB545"></path>
      <path
        class="group-hover:animate-envelope-move-left group-focus:animate-envelope-move-left"
        d="M199.244 24.3412L200.54 25.0535L198.716 27.2343L199.244 24.3412Z"
        fill="#DDB545"></path>
      <path
        class="group-hover:animate-envelope-move-left group-focus:animate-envelope-move-left"
        d="M200.744 25.5657V48.7105C200.741 48.8687 200.713 49.0254 200.66 49.1747C200.627 49.2688 200.588 49.361 200.544 49.4508C200.401 49.7307 200.188 49.9681 199.924 50.139L168.764 68.1459C168.675 68.2117 168.569 68.2495 168.458 68.2545C168.348 68.2595 168.238 68.2314 168.144 68.1739C168.089 68.1348 168.045 68.0825 168.016 68.0218C167.962 67.9109 167.936 67.7888 167.94 67.6657V44.5009C167.942 44.3481 167.969 44.1967 168.02 44.0527C168.051 43.9531 168.091 43.8566 168.14 43.7646C168.281 43.4811 168.497 43.2416 168.764 43.0724L199.916 25.0855C200.005 25.0188 200.112 24.9801 200.223 24.9744C200.334 24.9687 200.445 24.9962 200.54 25.0535C200.594 25.0938 200.638 25.1458 200.668 25.2056C200.721 25.3181 200.747 25.4414 200.744 25.5657Z"
        fill="#FFD44D"></path>
      <path
        class="group-hover:animate-envelope-move-left group-focus:animate-envelope-move-left"
        opacity="0.12"
        d="M168.068 68.2379L184.342 46.5097L200.576 49.3788V51.6756L167.94 70.5188L168.068 68.2379Z"
        fill="black"></path>
      <path
        class="group-hover:animate-envelope-move-left group-focus:animate-envelope-move-left"
        opacity="0.05"
        d="M184.342 46.5097L168.108 43.8326L166.615 43.3525L165.951 69.7545L168.144 68.1579L184.342 46.5097Z"
        fill="black"></path>
      <path
        class="group-hover:animate-envelope-move-left group-focus:animate-envelope-move-left"
        opacity="0.05"
        d="M184.342 46.5097L200.576 25.0855L202.069 22.8847L202.729 48.5184L200.576 49.3788L184.342 46.5097Z"
        fill="black"></path>
      <!--  -->
      <path
        d="M131.466 17.9188C131.42 17.8048 131.342 17.7062 131.242 17.6347C131.041 17.5301 130.825 17.4585 130.602 17.4226L96.8088 7.71094L63.0159 56.4455C62.7796 56.7081 62.5779 56.9999 62.4157 57.3138C62.3125 57.5104 62.2255 57.7152 62.1556 57.926C62.0517 58.2344 61.9964 58.557 61.9915 58.8824V108.041C61.9859 108.303 62.0407 108.564 62.1516 108.801C62.2166 108.927 62.3097 109.037 62.4237 109.121C62.6233 109.244 62.8551 109.304 63.0892 109.293C63.3232 109.283 63.5487 109.202 63.7362 109.061L129.885 70.8709C130.619 70.3793 131.169 69.659 131.45 68.8222C131.563 68.5048 131.623 68.1707 131.626 67.8338V18.6751C131.632 18.414 131.577 18.155 131.466 17.9188Z"
        fill="#DDB545"></path>
      <path
        d="M131.15 17.5787L133.227 18.8111L130.326 20.94L131.15 17.5787Z"
        fill="#CEB95F"></path>
      <path
        d="M64.5485 110.382L62.4237 109.101L65.701 106.741L64.5485 110.382Z"
        fill="#DDB545"></path>
      <path
        d="M96.8088 7.71094L98.8376 8.9314L133.227 18.8072L131.518 17.7948C130.858 17.5072 130.175 17.2743 129.477 17.0985L96.8088 7.71094Z"
        fill="#C19B3D"></path>
      <path
        d="M133.651 19.8956V69.0342C133.645 69.3697 133.586 69.7021 133.475 70.0186C133.406 70.2195 133.321 70.4148 133.223 70.6028C132.926 71.2008 132.472 71.7069 131.91 72.0674L65.769 110.258C65.5815 110.4 65.3555 110.482 65.1206 110.493C64.8857 110.505 64.6529 110.445 64.4525 110.322C64.3396 110.236 64.2479 110.125 64.1844 109.998C64.0717 109.762 64.0168 109.503 64.0243 109.242V60.0988C64.0291 59.7735 64.0845 59.4508 64.1884 59.1425C64.259 58.9319 64.3459 58.7272 64.4485 58.5302C64.7476 57.929 65.2057 57.4211 65.773 57.0617L131.898 18.8792L130.77 19.6555C131.298 19.3553 132.907 18.5711 133.227 18.8111C133.34 18.8974 133.431 19.0082 133.495 19.1353C133.607 19.3726 133.66 19.6333 133.651 19.8956Z"
        fill="#FFD44D"></path>
      <path
        opacity="0.12"
        d="M64.4525 110.322L98.8376 64.3645L133.307 70.4548V75.3286L64.0203 115.328L64.4525 110.322Z"
        fill="black"></path>
      <path
        opacity="0.05"
        d="M98.8376 64.3645L64.3725 58.6783L61.2073 57.6619L59.7987 113.707L64.4525 110.322L98.8376 64.3645Z"
        fill="black"></path>
      <path
        opacity="0.05"
        d="M98.7655 64.3004L133.231 18.8192L136.396 14.1494L137.804 68.5661L133.231 70.3908L98.7655 64.3004Z"
        fill="black"></path>
      <path
        d="M64.4445 58.5303L98.8376 8.9314L133.227 18.8112L98.8376 64.3645L64.4445 58.5303Z"
        fill="#FFD44D"></path>
      <path
        opacity="0.3"
        d="M133.227 18.8112L125.444 29.1231L98.8376 64.3645L72.2354 59.8508L64.4445 58.5303L72.2354 47.294L91.4027 19.6515L98.8376 8.9314L106.272 11.0682L125.444 16.5783L133.227 18.8112Z"
        fill="black"></path>
      <!-- PAPER -->
      <path
        d="M125.444 0V29.1231L98.8375 64.3645L72.2354 59.8507V30.7197L125.444 0Z"
        fill="#FAFBFF"></path>
      <!-- PAPER -->
      <path
        d="M89.9302 43.5165L76.8012 51.0954V35.9377L89.9302 28.3548V43.5165Z"
        fill="#E9EAF2"></path>
      <!-- PAPER -->
      <path
        d="M105.404 34.5811L92.2751 42.164V27.0023L105.404 19.4194V34.5811Z"
        fill="#E9EAF2"></path>
      <!-- PAPER -->
      <path
        d="M120.878 25.6498L107.745 33.2326V18.0709L120.878 10.488V25.6498Z"
        fill="#E9EAF2"></path>
      <!-- PAPER -->
      <path
        d="M120.878 31.9441L76.8012 57.3898V54.7528L120.878 29.3031V31.9441Z"
        fill="#E9EAF2"></path>
      <!-- PAPER -->
      <path
        d="M114.311 38.7787V41.4197L80.2585 61.0792L76.7972 60.7271V60.439L114.311 38.7787Z"
        fill="#E9EAF2"></path>
      <!-- PAPER -->
      <path
        d="M107.745 47.8502V50.4912L87.6693 62.0796L83.5237 61.8355L107.745 47.8502Z"
        fill="#E9EAF2"></path>
      <!-- PAPER -->
      <path
        d="M104.292 55.5291V57.1417L102.915 58.9624L94.74 63.6842L91.1826 63.1L104.292 55.5291Z"
        fill="#E9EAF2"></path>
    </g>
    <defs>
      <linearGradient
        id="paint0_linear_201_1147"
        x1="105.336"
        y1="189.016"
        x2="105.336"
        y2="104.14"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.21" stop-color="white" stop-opacity="0"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0.2"></stop>
      </linearGradient>
      <clipPath id="clip0_201_1147">
        <rect width="202.729" height="200" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</a>
