---
import BaseLayout from "../layouts/BaseLayout.astro";
import Email from "../components/Email.astro";
---

<BaseLayout title="Contact me">
  <h2
    class="text-4xl font-bold border-b border-b-slate-300 dark:border-b-slate-400 pb-4 dark:text-slate-200"
  >
    Contact me
  </h2>
  <Email />
</BaseLayout>
