---
import BaseLayout from "../layouts/BaseLayout.astro";
import Email from "../components/Email.astro";
import DMLink from "../components/DMLink.astro";
---

<BaseLayout title="Contact me">
  <h2
    class="text-4xl font-bold border-b border-b-slate-300 dark:border-b-slate-400 pb-4 dark:text-slate-200"
  >
    Contact me
  </h2>
  <div class="flex justify-between my-24 w-full">
    <Email />
    <div class="flex flex-col w-6/12 items-end">
      <DMLink
        icon="twitter"
        link="https://twitter.com/messages/compose?recipient_id=1143228992952176645"
        text="DM me on Twitter"
      />
      <DMLink
        icon="linkedin"
        link="https://www.linkedin.com/in/george-fairbairn/"
        text="DM me on LinkedIn"
      />
    </div>
  </div>
</BaseLayout>
