---
import BaseLayout from "../layouts/BaseLayout.astro";
import Profile from "../components/Profile.astro";
import PortfolioCard from "../components/cards/PortfolioCard.astro";
import ContactMeCard from "../components/cards/ContactMeCard.astro";
---

<BaseLayout title="Home">
  <Profile />
  <div class="flex justify-evenly">
    <PortfolioCard />
    <ContactMeCard />
  </div>
</BaseLayout>
