---
import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";
---

<BaseLayout title="Project portfolio">
  <h1
    class="text-4xl font-bold border-b border-b-slate-300 dark:border-b-slate-400 pb-4 dark:text-slate-200 mx-4 md:mx-0"
  >
    Project portfolio
  </h1>
  <Project project="comprehensible_invites" />
  <div class="border-b border-b-slate-300 dark:border-b-slate-400 mx-24"></div>
  <Project project="voleo" flip />
</BaseLayout>
