---
import SvgIcon from "./SvgIcon.astro";
---

<form class="flex flex-col bg-white dark:bg-slate-600 rounded w-6/12 p-8">
  <div class="flex flex-col items-center w-full dark:text-slate-200 mb-4">
    <div class="flex items-center justify-start w-full">
      <label for="to" class="mr-3">To:</label>
      <input
        id="to"
        name="to"
        class="w-32 font-bold bg-white dark:bg-slate-600"
        value="George Fairbairn"
        type="text"
        disabled
      />
      <img
        class="h-8 w-8 rounded-full ml-3"
        src={`${import.meta.env.PUBLIC_CLOUDINARY_URL}/profilpicsquare_qphjkn`}
        alt="profile picture"
      />
    </div>
    <hr class="h-px border-none w-full bg-slate-300 dark:bg-slate-400 mt-2" />
  </div>

  <div class="flex flex-col items-center w-full dark:text-slate-200 mb-4">
    <div class="flex items-start w-full peer">
      <label for="from" class="mr-3">From:</label>
      <input
        id="from"
        name="from"
        class="w-full font-bold outline-none placeholder:font-normal dark:bg-slate-600"
        type="email"
        placeholder="Your name or email"
        required
      />
    </div>
    <hr
      class="h-px border-none w-full bg-slate-300 dark:bg-slate-400 mt-2 peer-focus-within:bg-violet-500 peer-focus-within:h-0.75"
    />
  </div>

  <div class="flex flex-col items-center w-full dark:text-slate-200 mb-4">
    <div class="flex items-start w-full peer">
      <label for="subject" class="mr-3">Subject:</label>
      <input
        id="subject"
        name="subject"
        class="w-full font-bold outline-none placeholder:font-normal dark:bg-slate-600"
        type="text"
        placeholder="The reason for your message"
        required
      />
    </div>
    <hr
      class="h-px border-none w-full bg-slate-300 dark:bg-slate-400 mt-2 peer-focus-within:bg-violet-500 peer-focus-within:h-0.75"
    />
  </div>

  <div class="flex items-center w-full dark:text-slate-200 mb-4">
    <textarea
      id="content"
      name="content"
      class="bg-none outline-none border-white dark:border-slate-600 border-b focus-within:border-b-0.75 focus-visible:border-b-0.75 focus-within:border-violet-500 focus-visible:border-violet-500 dark:focus-within:border-violet-500 dark:focus-visible:border-violet-500 w-full p-1 placeholder:font-normal dark:bg-slate-600"
      rows={5}
      placeholder="Your message"
      required></textarea>
  </div>

  <div class="flex justify-end mt-4">
    <button
      class="flex items-center justify-center bg-violet-500 text-white rounded font-bold py-1 px-3 border-none outline-none hover:bg-emerald-400 focus-visible:bg-emerald-400 focus-within:bg-emerald-400"
      type="button"
      ><span>Send</span>
      <SvgIcon icon="email" className="h-4 w-4 fill-white ml-2" /></button
    >
  </div>
</form>
