---
import SvgIcon from "./SvgIcon.tsx";

const { icon, link } = Astro.props;

const iconMap = {
  twitter: {
    link: "https://twitter.com/neon_flights",
  },
  github: {
    link: "https://github.com/georgefairbairn",
  },
  linkedin: {
    link: "https://www.linkedin.com/in/george-fairbairn/",
  },
  back: {
    link: link ?? "/",
  },
};
---

<a
  href={iconMap[icon].link}
  aria-label={icon}
  class={`flex items-center dark:fill-white ${
    icon === "back" ? "ml-0 hidden md:block" : "md:ml-8"
  } ${
    icon === "twitter"
      ? "hover:fill-twitter focus:fill-twitter dark:hover:fill-twitter dark:focus:fill-twitter"
      : ""
  }${
    icon === "github"
      ? " hover:fill-github focus:fill-github dark:hover:fill-github dark:focus:fill-github"
      : ""
  }${
    icon === "linkedin"
      ? " hover:fill-linkedin focus:fill-linkedin dark:hover:fill-linkedin dark:focus:fill-linkedin"
      : ""
  }`}
  target={icon === "back" ? "" : "_blank"}
  rel={icon === "back" ? "" : "noopener noreferrer"}
>
  <SvgIcon {icon} />
</a>
