<div class="portfolio-container">
  <h2 class="title">Project portfolio</h2>
  <svg
    width="184"
    height="200"
    viewBox="0 0 184 200"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_201_921)">
      <path
        opacity="0.4"
        d="M124.208 154.26L105.08 143.2C103.7 142.4 103.88 141.012 105.48 140.092L117.88 132.936L142 146.884L129.6 154.04C128 154.956 125.6 155.056 124.208 154.26Z"
        fill="#D6D8E5"></path>
      <path
        d="M125.936 153.248L106.8 142.204C105.424 141.404 105.6 140.016 107.2 139.096L119.6 131.94L143.728 145.872L131.328 153.028C129.724 153.944 127.316 154.044 125.936 153.248Z"
        fill="#B1B4C4"></path>
      <path
        d="M143.712 145.872V145.14L142.596 145.784L143.712 145.872Z"
        fill="#B1B4C4"></path>
      <path
        d="M105.876 140.888V140.144L107.02 140.62L105.876 140.888Z"
        fill="#B1B4C4"></path>
      <path
        d="M125.936 152.52L106.8 141.472C105.424 140.672 105.6 139.288 107.2 138.368L119.6 131.2L143.728 145.128L131.328 152.284C129.724 153.2 127.316 153.316 125.936 152.52Z"
        fill="#D6D8E5"></path>
      <path
        d="M119.652 131.244L116.664 121.34L141.052 135.328L143.712 145.14L119.652 131.244Z"
        fill="#9EA1AF"></path>
      <path
        d="M143.004 145.548L143.712 145.148L142.66 144.308L143.004 145.548Z"
        fill="#9EA1AF"></path>
      <path
        d="M118.88 131.616L115.896 121.712L140.284 135.7L143.004 145.548L118.88 131.616Z"
        fill="#B1B4C4"></path>
      <path
        d="M180.8 162.244L86.4 107.74C85.076 106.976 84 104.94 84 103.156V30.132C84 28.368 85.072 27.556 86.4 28.32L180.8 82.824C182.124 83.588 183.2 85.624 183.2 87.404V160.432C183.2 162.196 182.116 163.008 180.8 162.244Z"
        fill="#B1B4C4"></path>
      <path
        d="M181.276 162.996L182.324 162.392L181.872 159.292L181.276 162.996Z"
        fill="#B1B4C4"></path>
      <path
        d="M83.82 28.772L84.852 28.176L86.332 29.02C86.332 29.02 84.756 29.26 84.732 29.252C84.708 29.244 83.82 28.772 83.82 28.772Z"
        fill="#B1B4C4"></path>
      <path
        d="M179.928 162.744L85.528 108.24C84.204 107.476 83.128 105.44 83.128 103.656V30.632C83.128 28.868 84.204 28.056 85.528 28.82L179.928 83.324C181.252 84.088 182.328 86.124 182.328 87.904V160.932C182.324 162.696 181.252 163.508 179.928 162.744Z"
        fill="#E4E7F2"></path>
      <path
        d="M179.76 162.836L85.36 108.332C84.036 107.568 82.96 105.532 82.96 103.752V30.728C82.96 28.964 84.032 28.152 85.36 28.916L179.76 83.42C181.084 84.184 182.16 86.22 182.16 88V161.024C182.16 162.8 181.084 163.6 179.76 162.836Z"
        fill="#D6D8E5"></path>
      <path
        d="M180.86 158.4L84.156 102.568L84.208 31.02C84.208 30.288 84.724 29.992 85.356 30.356L179.756 84.86C180.092 85.0792 180.371 85.3746 180.57 85.7222C180.77 86.0698 180.884 86.4597 180.904 86.86L180.86 158.4Z"
        fill="white"></path>
      <path
        d="M174.872 96.2L89.152 46.712C88.8551 46.4991 88.6122 46.2196 88.4427 45.8959C88.2732 45.5722 88.1819 45.2133 88.176 44.848V38.66C88.176 37.944 88.612 37.612 89.152 37.924L174.872 87.412C175.169 87.6253 175.413 87.9055 175.582 88.2299C175.752 88.5543 175.843 88.914 175.848 89.28V95.464C175.848 96.184 175.412 96.512 174.872 96.2Z"
        fill="#E9EAF2"></path>
      <path
        d="M170.4 112.764L150.252 101.132C149.955 100.919 149.712 100.64 149.543 100.316C149.373 99.9922 149.282 99.6333 149.276 99.268V86.264C149.276 85.544 149.712 85.216 150.252 85.528L170.4 97.16C170.697 97.3725 170.941 97.6519 171.11 97.9757C171.28 98.2995 171.371 98.6586 171.376 99.024V112.028C171.36 112.744 170.924 113.076 170.4 112.764Z"
        fill="#E9EAF2"></path>
      <path
        d="M143.844 116.988L93.3 87.788C93.1509 87.6821 93.0291 87.5425 92.9443 87.3805C92.8594 87.2185 92.8141 87.0388 92.812 86.856V84.62C92.812 84.26 93.028 84.092 93.3 84.248L143.844 113.448C143.992 113.555 144.114 113.694 144.198 113.856C144.283 114.018 144.329 114.197 144.332 114.38V116.62C144.332 116.976 144.112 117.144 143.844 116.988Z"
        fill="#E9EAF2"></path>
      <path
        d="M138.868 119.412L93.444 93.2C93.2959 93.0932 93.1747 92.9534 93.09 92.7916C93.0053 92.6299 92.9594 92.4506 92.956 92.268V91.152C92.956 90.792 93.176 90.628 93.444 90.784L138.868 117.008C139.016 117.115 139.138 117.254 139.222 117.416C139.307 117.578 139.353 117.757 139.356 117.94V119.052C139.356 119.4 139.136 119.568 138.868 119.412Z"
        fill="#E9EAF2"></path>
      <path
        d="M138.868 123.636L93.444 97.412C93.2957 97.3054 93.1743 97.1657 93.0895 97.0038C93.0048 96.842 92.9591 96.6626 92.956 96.48V95.364C92.956 95.008 93.176 94.84 93.444 94.996L138.868 121.22C139.016 121.327 139.138 121.466 139.222 121.628C139.307 121.79 139.353 121.969 139.356 122.152V123.268C139.356 123.628 139.136 123.792 138.868 123.636Z"
        fill="#E9EAF2"></path>
      <path
        d="M127.256 121.156L93.444 101.636C93.2957 101.529 93.1743 101.39 93.0895 101.228C93.0048 101.066 92.9591 100.887 92.956 100.704V99.6C92.956 99.24 93.176 99.076 93.444 99.228L127.256 118.748C127.403 118.857 127.524 118.997 127.608 119.159C127.693 119.322 127.739 119.501 127.744 119.684V120.8C127.744 121.148 127.524 121.312 127.256 121.156Z"
        fill="#E9EAF2"></path>
      <path
        d="M170.872 118.172L149.748 105.976C149.599 105.87 149.477 105.73 149.392 105.569C149.307 105.407 149.262 105.227 149.26 105.044V103.928C149.26 103.568 149.476 103.404 149.748 103.56L170.872 115.756C171.02 115.863 171.142 116.002 171.226 116.164C171.311 116.326 171.357 116.505 171.36 116.688V117.804C171.36 118.164 171.14 118.328 170.872 118.172Z"
        fill="#E9EAF2"></path>
      <path
        d="M170.872 122.4L149.748 110.2C149.599 110.094 149.477 109.954 149.392 109.793C149.307 109.631 149.262 109.451 149.26 109.268V108.156C149.26 107.796 149.476 107.628 149.748 107.784L170.872 120C171.021 120.106 171.143 120.246 171.227 120.408C171.312 120.57 171.358 120.749 171.36 120.932V122.044C171.36 122.4 171.14 122.552 170.872 122.4Z"
        fill="#E9EAF2"></path>
      <path
        d="M165.34 123.428L149.74 114.424C149.591 114.318 149.469 114.178 149.384 114.017C149.299 113.855 149.254 113.675 149.252 113.492V112.4C149.252 112.04 149.468 111.876 149.74 112.032L165.34 121.032C165.489 121.138 165.61 121.278 165.695 121.44C165.78 121.602 165.825 121.781 165.828 121.964V123.08C165.828 123.42 165.6 123.6 165.34 123.428Z"
        fill="#E9EAF2"></path>
      <path
        d="M170.4 145.324L150.252 133.692C149.955 133.479 149.712 133.2 149.543 132.876C149.373 132.552 149.282 132.193 149.276 131.828V118.824C149.276 118.108 149.712 117.776 150.252 118.088L170.4 129.72C170.696 129.936 170.937 130.219 171.104 130.546C171.271 130.872 171.358 131.233 171.36 131.6V144.604C171.36 145.304 170.924 145.636 170.4 145.324Z"
        fill="#E9EAF2"></path>
      <path
        d="M170.872 150.732L149.748 138.536C149.599 138.43 149.477 138.29 149.392 138.129C149.307 137.967 149.262 137.787 149.26 137.604V136.492C149.26 136.132 149.476 135.964 149.748 136.12L170.872 148.316C171.019 148.425 171.14 148.565 171.224 148.727C171.309 148.89 171.355 149.069 171.36 149.252V150.364C171.36 150.724 171.14 150.888 170.872 150.732Z"
        fill="#E9EAF2"></path>
      <path
        d="M93.4324 46.2944C94.1651 45.8713 94.1646 44.4985 93.4312 43.2282C92.6977 41.9579 91.5091 41.271 90.7764 41.694C90.0437 42.1171 90.0442 43.4899 90.7776 44.7602C91.5111 46.0305 92.6997 46.7174 93.4324 46.2944Z"
        fill="#DADCE5"></path>
      <path
        d="M136.672 70.54L129.256 66.26C129.182 66.2064 129.121 66.1362 129.079 66.0549C129.036 65.9737 129.013 65.8836 129.012 65.792V64.8C129.012 64.62 129.12 64.536 129.256 64.616L136.672 68.896C136.747 68.9483 136.808 69.0177 136.85 69.0984C136.893 69.1791 136.915 69.2688 136.916 69.36V70.344C136.916 70.536 136.8 70.62 136.672 70.54Z"
        fill="#DADCE5"></path>
      <path
        d="M148.672 77.472L141.256 73.2C141.182 73.147 141.121 73.0775 141.079 72.9969C141.037 72.9164 141.014 72.827 141.012 72.736V71.752C141.012 71.572 141.124 71.488 141.256 71.568L148.672 75.848C148.746 75.9016 148.807 75.9718 148.849 76.0531C148.892 76.1343 148.915 76.2244 148.916 76.316V77.3C148.916 77.464 148.8 77.548 148.672 77.472Z"
        fill="#DADCE5"></path>
      <path
        d="M160.48 84.288L153.064 80C152.989 79.9477 152.928 79.8783 152.886 79.7976C152.843 79.7169 152.821 79.6272 152.82 79.536V78.552C152.82 78.372 152.928 78.292 153.064 78.368L160.48 82.648C160.554 82.7016 160.615 82.7718 160.657 82.8531C160.7 82.9343 160.723 83.0244 160.724 83.116V84.1C160.724 84.284 160.616 84.364 160.48 84.288Z"
        fill="#DADCE5"></path>
      <path
        d="M172.48 91.2L165.068 86.92C164.994 86.8664 164.933 86.7962 164.891 86.7149C164.848 86.6337 164.825 86.5436 164.824 86.452V85.468C164.824 85.288 164.932 85.208 165.068 85.284L172.48 89.6C172.555 89.6523 172.616 89.7217 172.658 89.8024C172.701 89.8831 172.723 89.9728 172.724 90.064V91.048C172.724 91.2 172.616 91.296 172.48 91.2Z"
        fill="#DADCE5"></path>
      <path
        d="M156.112 98.764L154.696 95.12L152.124 98.784L154.948 100.416L157.272 101.756L162.452 104.748L158.7 95.08L156.112 98.764Z"
        fill="#DADCE5"></path>
      <path
        d="M168.405 101.406C169.068 101.025 169.071 99.7863 168.411 98.6388C167.752 97.4914 166.68 96.8702 166.017 97.2513C165.354 97.6324 165.351 98.8714 166.01 100.019C166.67 101.166 167.742 101.787 168.405 101.406Z"
        fill="#DADCE5"></path>
      <path
        d="M156.256 131.804L154.844 128.16L152.268 131.824L155.096 133.456L157.42 134.796L162.6 137.788L158.848 128.12L156.256 131.804Z"
        fill="#DADCE5"></path>
      <path
        d="M167.891 134.047C168.551 133.666 168.552 132.431 167.892 131.289C167.233 130.147 166.163 129.53 165.503 129.911C164.843 130.292 164.842 131.527 165.502 132.669C166.161 133.811 167.231 134.428 167.891 134.047Z"
        fill="#DADCE5"></path>
      <!-- CRANE HANDLE RIGHT -->
      <path
        id="painting"
        d="M108.672 82.132L106.8 89.628V83.212L108.672 82.132Z"
        fill="#232733"></path>
      <!-- CRANE HANDLE LEFT -->
      <path
        id="painting"
        d="M86.868 69.424L84.996 76.924V70.508L86.868 69.424Z"
        fill="#232733"></path>
      <!-- IMAGE CANVAS -->
      <path
        id="painting"
        d="M117.656 115.932L73.088 90.2C72.8219 90.009 72.6044 89.7582 72.4529 89.4678C72.3015 89.1774 72.2203 88.8555 72.216 88.528V65.728C72.216 65.084 72.616 64.788 73.088 65.068L117.656 90.8C117.923 90.9897 118.141 91.2396 118.293 91.5294C118.445 91.8191 118.527 92.1407 118.532 92.468V115.288C118.532 115.916 118.14 116.212 117.656 115.932Z"
        fill="#E9EAF2"></path>
      <!-- MOUNTAINS -->
      <path
        id="painting"
        d="M85.492 89.2L83.076 82.972L78.676 89.232L83.508 92.024L87.476 94.316L96.336 99.432L89.92 82.9L85.492 89.2Z"
        fill="#EAC4D5"></path>
      <!-- SUN -->
      <path
        id="painting"
        d="M110.381 95.9153C111.508 95.2648 111.507 93.1538 110.38 91.2005C109.252 89.2472 107.424 88.1911 106.297 88.8417C105.17 89.4922 105.171 91.6032 106.299 93.5565C107.427 95.5098 109.254 96.5659 110.381 95.9153Z"
        fill="#EAC4D5"></path>
      <!-- CRANE ARM RIGHT -->
      <path
        id="painting"
        d="M105.98 80.576L105.976 72.024L103.552 70.204V80.576L100.856 82.132L104.764 84.388L108.672 82.132L105.98 80.576Z"
        fill="#353C4C"></path>
      <!-- CRANE HANDLE RIGHT -->
      <path
        id="painting"
        d="M104.764 84.388L106.8 89.628V83.576V83.212L104.764 84.388Z"
        fill="#232733"></path>
      <!-- CRANE HANDLE RIGHT -->
      <path
        id="painting"
        d="M100.856 82.132L102.588 87.164L106.8 89.628L104.764 84.388L100.856 82.132Z"
        fill="#2B303F"></path>
      <!-- CRANE ARM LEFT -->
      <path
        id="painting"
        d="M84.172 67.872V57.496H81.748V67.868L79.052 69.424L82.96 71.684L86.868 69.424L84.172 67.872Z"
        fill="#353C4C"></path>
      <!-- CRANE HANDLE LEFT -->
      <path
        id="painting"
        d="M82.96 71.684L84.996 76.924V70.872V70.508L82.96 71.684Z"
        fill="#232733"></path>
      <!-- CRANE HANDLE LEFT -->
      <path
        id="painting"
        d="M79.052 69.424L80.784 74.456L84.996 76.924L82.96 71.684L79.052 69.424Z"
        fill="#2B303F"></path>
      <path
        opacity="0.4"
        d="M57.508 116.296L33.364 102.288L4.272 119.084L30.3 134.18L59.396 117.384V115.208L57.508 116.296Z"
        fill="#D6D8E5"></path>
      <path
        d="M60.572 114.408L33.364 98.7L6.156 114.408L4.272 113.32V115.496L33.364 132.296L62.456 115.496V113.32L60.572 114.408Z"
        fill="#B1B4C4"></path>
      <path
        d="M33.364 130.116L4.272 113.32L33.364 96.524L62.456 113.32L33.364 130.116Z"
        fill="#E7E9F2"></path>
      <path
        d="M33.272 107.1L35.172 106.004V24.88L33.272 25.976V107.1Z"
        fill="#B1B4C4"></path>
      <path
        d="M33.424 59.076L46.708 80.1L48.608 79.324L35.172 58.092L33.424 59.076Z"
        fill="#B1B4C4"></path>
      <path
        d="M33.344 62.816L46.636 83.944V79.992L33.344 58.94V62.816Z"
        fill="#D6D8E5"></path>
      <path
        d="M31.444 106.004L33.344 107.1V25.976L31.444 24.88V106.004Z"
        fill="#D6D8E5"></path>
      <path
        d="M46.636 114.776L48.536 115.872V34.748L46.636 33.652V114.776Z"
        fill="#D6D8E5"></path>
      <path
        d="M48.464 115.872L50.364 114.776V33.652L48.464 34.748V115.872Z"
        fill="#B1B4C4"></path>
      <path
        d="M33.344 101.252L46.636 85.336V81.52L33.344 97.46V101.252Z"
        fill="#D6D8E5"></path>
      <path
        d="M33.344 101.252L35.172 100.252L46.636 86.432V85.04L33.344 101.252Z"
        fill="#B1B4C4"></path>
      <path
        d="M33.344 59.076L46.636 43.16V39.344L33.344 55.284V59.076Z"
        fill="#D6D8E5"></path>
      <path
        d="M33.344 59.076L35.172 58.072L46.636 44.256V42.864L33.344 59.076Z"
        fill="#B1B4C4"></path>
      <path
        d="M18.192 115.86L20.092 114.764V33.64L18.192 34.736V115.86Z"
        fill="#B1B4C4"></path>
      <path
        d="M18.344 67.836L31.628 88.856L33.528 88.084L20.092 66.852L18.344 67.836Z"
        fill="#B1B4C4"></path>
      <path
        d="M18.264 71.576L31.556 92.7V88.752L18.264 67.696V71.576Z"
        fill="#D6D8E5"></path>
      <path
        d="M16.368 114.764L18.264 115.86V34.736L16.368 33.64V114.764Z"
        fill="#D6D8E5"></path>
      <path
        d="M31.556 123.532L33.456 124.628V43.508L31.556 42.408V123.532Z"
        fill="#D6D8E5"></path>
      <path
        d="M33.384 124.628L35.284 123.532V42.408L33.384 43.508V124.628Z"
        fill="#B1B4C4"></path>
      <path
        d="M18.264 110.012L31.556 94.096V90.276L18.264 106.22V110.012Z"
        fill="#D6D8E5"></path>
      <path
        d="M18.264 110.012L20.092 109.008L31.556 95.192V93.796L18.264 110.012Z"
        fill="#B1B4C4"></path>
      <path
        d="M18.264 67.836L31.556 51.92V48.1L18.264 64.04V67.836Z"
        fill="#D6D8E5"></path>
      <path
        d="M18.264 67.836L20.092 66.832L31.556 53.012V51.62L18.264 67.836Z"
        fill="#B1B4C4"></path>
      <path
        d="M33.456 47.616L13.844 36.292L33.456 24.972L53.068 36.292L33.456 47.616Z"
        fill="#F7DC6B"></path>
      <path
        d="M31.996 15.164L8.74401 28.588L2.08801 24.744L25.34 11.32L31.996 15.164Z"
        fill="#353C4C"></path>
      <path
        d="M2.08801 30.128V24.744L8.74401 28.588V33.972L2.08801 30.128Z"
        fill="#2B303F"></path>
      <path
        d="M8.74399 33.972L31.996 20.548V15.164L8.74399 28.588V33.448"
        fill="#232733"></path>
      <path
        d="M31.996 9.124L8.74401 22.548L2.08801 18.704L25.34 5.28L31.996 9.124Z"
        fill="#353C4C"></path>
      <path
        d="M2.08801 24.092V18.704L8.74401 22.548V27.936L2.08801 24.092Z"
        fill="#2B303F"></path>
      <path
        d="M8.74399 27.936L31.996 14.512V9.12399L8.74399 22.548V27.412"
        fill="#232733"></path>
      <path d="M14.42 25.82L0 17.548V14.532L14.42 22.752V25.82Z" fill="#D6D8E5"
      ></path>
      <path
        d="M35.284 34.728L0 14.532L2.612 13.024L37.896 33.22L35.284 34.728Z"
        fill="#E7E9F2"></path>
      <path
        d="M30.284 21.052L12.168 10.572V7.552L30.284 17.26V21.052Z"
        fill="#D6D8E5"></path>
      <path
        d="M44.024 25.636L12.168 7.556L14.78 6.048L46.636 24.128L44.024 25.636Z"
        fill="#E7E9F2"></path>
      <path
        d="M21.82 13.12V16.136L23.06 24.82L24.9 25.964L21.82 13.12Z"
        fill="#D6D8E5"></path>
      <path
        d="M27.272 27.252L24.888 14.892L21.82 13.12L23.68 25.3L27.272 27.252Z"
        fill="#E7E9F2"></path>
      <path
        d="M21.82 16.136L12.304 18.644L7.41602 15.82L21.404 12.872L21.82 13.12V16.136Z"
        fill="#B1B4C4"></path>
      <path
        d="M21.82 13.12L8.568 16.488L5.72 14.844L19.076 11.432L21.82 13.12Z"
        fill="#E7E9F2"></path>
      <path
        d="M33.456 22.648L13.844 11.324L33.456 0L53.068 11.324L33.456 22.648Z"
        fill="#E7E9F2"></path>
      <path
        d="M13.844 46.292V11.324L33.456 22.648V57.616L13.844 46.292Z"
        fill="#D6D8E5"></path>
      <path
        d="M53.068 11.324V46.292L33.456 57.616V22.644L53.068 11.324Z"
        fill="#B1B4C4"></path>
      <path
        d="M33.456 34.828L22.196 28.328L18.576 16.808L33.456 25.4V34.828Z"
        fill="#809BCE"></path>
      <path
        d="M53.068 14.076V23.504L33.456 34.832V25.404L53.068 14.076Z"
        fill="#809BCE"></path>
      <path
        d="M120.908 87.708L36.048 38.712V35.696L120.908 84.692V87.708Z"
        fill="#D6D8E5"></path>
      <path
        d="M120.908 84.692L36.048 35.7L38.66 34.192L123.52 83.184L120.908 84.692Z"
        fill="#E7E9F2"></path>
      <path
        d="M133.076 80.732L48.216 31.736V28.72L133.076 77.716V80.732Z"
        fill="#D6D8E5"></path>
      <path
        d="M133.076 77.716L48.216 28.72L50.828 27.212L135.688 76.208L133.076 77.716Z"
        fill="#E7E9F2"></path>
      <path
        d="M135.688 79.232L120.908 87.708V84.688L135.688 76.216V79.232Z"
        fill="#B1B4C4"></path>
      <path
        d="M135.688 76.216L120.916 84.692L118.704 83.416L133.476 74.94L135.688 76.216Z"
        fill="#E7E9F2"></path>
      <path
        d="M122.44 74.584L112.92 77.092L108.032 74.268L122.02 71.32L122.44 71.568V74.584Z"
        fill="#B1B4C4"></path>
      <path
        d="M122.44 71.568L109.188 74.936L106.34 73.288L119.692 69.88L122.44 71.568Z"
        fill="#E7E9F2"></path>
      <path
        d="M100.964 59.184V62.2L102.204 70.884L104.044 72.024L100.964 59.184Z"
        fill="#D6D8E5"></path>
      <path
        d="M106.416 73.316L104.032 60.956L100.964 59.184L102.828 71.364L106.416 73.316Z"
        fill="#E7E9F2"></path>
      <path
        d="M100.964 62.2L91.448 64.708L86.56 61.884L100.548 58.936L100.964 59.184V62.2Z"
        fill="#B1B4C4"></path>
      <path
        d="M100.964 59.184L87.716 62.552L84.868 60.908L98.22 57.496L100.964 59.184Z"
        fill="#E7E9F2"></path>
      <path
        d="M79.416 46.732V49.748L80.652 58.432L82.496 59.576L79.416 46.732Z"
        fill="#D6D8E5"></path>
      <path
        d="M84.868 60.864L82.484 48.504L79.416 46.732L81.276 58.912L84.868 60.864Z"
        fill="#E7E9F2"></path>
      <path
        d="M79.416 49.748L69.9 52.256L65.012 49.432L79 46.484L79.416 46.732V49.748Z"
        fill="#B1B4C4"></path>
      <path
        d="M79.416 46.732L66.164 50.1L63.316 48.456L76.672 45.044L79.416 46.732Z"
        fill="#E7E9F2"></path>
      <path
        d="M57.868 34.288V37.304L59.104 45.988L60.948 47.128L57.868 34.288Z"
        fill="#D6D8E5"></path>
      <path
        d="M63.316 48.42L60.936 36.06L57.868 34.288L59.728 46.468L63.316 48.42Z"
        fill="#E7E9F2"></path>
      <path
        d="M57.868 37.304L48.352 39.812L43.464 36.988L57.452 34.04L57.868 34.288V37.304Z"
        fill="#B1B4C4"></path>
      <path
        d="M57.868 34.288L44.616 37.656L41.768 36.012L55.12 32.6L57.868 34.288Z"
        fill="#E7E9F2"></path>
      <path
        opacity="0.4"
        d="M37.668 200L26.54 193.632L43.196 184.1L54.324 190.464L37.668 200Z"
        fill="#D6D8E5"></path>
      <path
        d="M37.9 187.164L28.684 181.84L37.9 176.52L47.116 181.844L37.9 187.164Z"
        fill="#D6D8E5"></path>
      <path
        d="M37.9 197.808L28.684 192.484V181.84L37.9 187.164V197.808Z"
        fill="#B1B6C4"></path>
      <path
        d="M47.116 192.484L37.9 197.808V187.164L47.116 181.84V192.484Z"
        fill="#C4C7D6"></path>
      <path
        d="M50.288 189.136C51.0857 189.357 51.9384 189.254 52.66 188.848C53.232 188.848 56.336 187.536 56.76 188.652C57.128 189.632 55.784 190.536 55.064 190.708C53.496 191.108 52.336 191.872 51.708 192.004C51.24 192.104 50.632 192.168 50.256 191.8C49.808 191.356 49.848 189.72 50.288 189.136Z"
        fill="#38226D"></path>
      <path
        d="M51.708 191.732C52.336 191.6 53.496 190.82 55.064 190.44C55.668 190.292 56.704 189.64 56.808 188.84C56.948 189.74 55.736 190.54 55.064 190.7C53.496 191.1 52.336 191.864 51.708 191.996C51.24 192.096 50.632 192.16 50.256 191.792C50.1611 191.683 50.0915 191.555 50.052 191.416C50.2842 191.594 50.555 191.716 50.8425 191.771C51.1301 191.825 51.4265 191.812 51.708 191.732Z"
        fill="#809BCE"></path>
      <path
        d="M44.688 186.156C45.487 186.377 46.3411 186.274 47.064 185.868C47.636 185.868 50.74 184.556 51.16 185.672C51.532 186.652 50.188 187.556 49.468 187.728C47.9 188.108 46.74 188.892 46.108 189.024C45.64 189.124 45.032 189.188 44.66 188.82C44.212 188.376 44.248 186.74 44.688 186.156Z"
        fill="#38226D"></path>
      <path
        d="M46.108 188.752C46.74 188.62 47.9 187.84 49.468 187.46C50.068 187.312 51.108 186.66 51.212 185.86C51.352 186.76 50.136 187.56 49.468 187.72C47.9 188.1 46.74 188.884 46.108 189.016C45.64 189.116 45.032 189.18 44.66 188.812C44.5624 188.704 44.4912 188.576 44.452 188.436C44.6844 188.614 44.9551 188.735 45.2426 188.79C45.5301 188.845 45.8264 188.832 46.108 188.752Z"
        fill="#809BCE"></path>
      <path
        d="M35.972 182.292C38.372 183.356 40.676 183.524 42.544 182.52L44.472 181.408C44.588 183.896 44.696 186.288 44.696 186.288C44.696 186.288 46.176 187.408 47.328 186.408C47.328 186.408 47.568 182.916 47.812 179.48L49.836 178.312C49.7874 178.495 49.7605 178.683 49.756 178.872C49.756 179.528 50.224 189.232 50.224 189.232C50.224 189.232 51.716 190.12 52.868 189.12C52.868 189.12 53.644 177.872 53.82 176.076C54.02 174.056 51.776 173.06 50.36 173.58C50.028 173.696 49.216 174 48.188 174.38C48.232 173.816 48.268 173.38 48.292 173.132C48.496 171.108 46.252 170.112 44.832 170.632C43.536 171.104 34.8 174.4 34.8 174.4C34.8544 175.239 34.9573 176.073 35.108 176.9L31.66 176.612C31.452 179.84 33.556 181.228 35.972 182.292ZM42 176.692L44.308 175.36C44.2672 175.523 44.2418 175.689 44.232 175.856L42 176.692Z"
        fill="#B8E0D2"></path>
      <path
        d="M29.768 166.748C29.768 166.748 30.052 171.04 30.616 171.66C31.18 172.28 33.084 172.7 33.084 172.7L34.548 175.1C34.548 175.1 33.2 167.44 32.92 167.256C32.64 167.072 29.768 166.748 29.768 166.748Z"
        fill="#FFCEA9"></path>
      <path
        d="M32.588 162C32.2317 161.834 31.8268 161.805 31.4505 161.919C31.0743 162.033 30.753 162.281 30.548 162.616C30.008 163.512 29.448 166.576 29.396 167.1C29.396 167.1 30.152 168.148 31.288 167.972L32.588 162Z"
        fill="#EDEDED"></path>
      <path
        d="M33.104 162.036C33.848 162.072 34.4 162.264 34.492 162.036C34.5715 161.654 34.6276 161.268 34.66 160.88C34.576 160.664 34.5 160.432 34.5 160.432C33.572 159.86 33.276 158.832 33.152 157.68C32.944 155.68 34.028 153.92 36.032 153.712C37.916 153.516 39.3 154.84 39.672 156.656C39.868 157.556 40.268 159.252 39.732 160.728C39.432 161.552 39.044 162.208 38.66 162.328C38.2863 162.317 37.9136 162.284 37.544 162.228C37.544 162.228 37.444 162.784 37.376 163.14C37.308 163.496 37.336 163.688 38.044 164.124C38.752 164.56 36.968 165.464 35.804 165.376C34.64 165.288 33.324 164.576 32.96 163.828C32.56 163.004 32.596 162 33.104 162.036Z"
        fill="#FFCEA9"></path>
      <path
        d="M51.896 175.164C51.8968 175.27 51.8694 175.374 51.8167 175.466C51.764 175.559 51.6879 175.635 51.596 175.688L45.944 178.952C45.8522 179.005 45.748 179.033 45.642 179.033C45.536 179.033 45.4318 179.005 45.34 178.952L37.412 174.376C37.3207 174.323 37.245 174.247 37.1923 174.156C37.1396 174.065 37.1119 173.961 37.112 173.856V173.808L51.896 175.164Z"
        fill="#E5E5E5"></path>
      <path
        d="M51.6 175.688L45.948 178.952C45.8557 179.005 45.7507 179.033 45.644 179.032V175.164H51.9C51.9008 175.27 51.8734 175.374 51.8207 175.466C51.768 175.559 51.6919 175.635 51.6 175.688Z"
        fill="#E5E5E5"></path>
      <path
        d="M45.852 178.656C45.7875 178.693 45.7144 178.713 45.64 178.713C45.5656 178.713 45.4924 178.693 45.428 178.656L37.2 173.9C37.092 173.84 37.092 173.74 37.2 173.68L43.264 170.176L51.904 175.164L45.852 178.656Z"
        fill="#F4F4F4"></path>
      <path
        d="M40.576 175.164L40.616 175.188L43.256 176.712L44.704 175.876L44.748 175.852L42.064 174.304L40.576 175.164Z"
        fill="#BFBFBF"></path>
      <path
        d="M40.616 175.188L43.256 176.712L44.704 175.876L42.064 174.352L40.616 175.188Z"
        fill="#E5E5E5"></path>
      <path
        d="M49.656 175.412L50.056 175.632C50.0748 175.641 50.0953 175.646 50.116 175.646C50.1368 175.646 50.1573 175.641 50.176 175.632L50.54 175.42C50.576 175.4 50.58 175.368 50.54 175.352L50.14 175.132C50.1215 175.122 50.1009 175.117 50.08 175.117C50.0591 175.117 50.0385 175.122 50.02 175.132L49.656 175.34C49.632 175.364 49.628 175.392 49.656 175.412Z"
        fill="#3A2C6D"></path>
      <path
        d="M49.12 175.1L49.52 175.32C49.5385 175.33 49.5591 175.335 49.58 175.335C49.6009 175.335 49.6215 175.33 49.64 175.32L50.004 175.108C50.04 175.088 50.044 175.056 50.004 175.04L49.604 174.82C49.5855 174.81 49.5649 174.805 49.544 174.805C49.5231 174.805 49.5025 174.81 49.484 174.82L49.12 175.032C49.092 175.052 49.088 175.084 49.12 175.1Z"
        fill="#3A2C6D"></path>
      <path
        d="M48.58 174.8L48.98 175.02C48.9985 175.03 49.0191 175.035 49.04 175.035C49.0609 175.035 49.0815 175.03 49.1 175.02L49.464 174.812C49.5 174.788 49.504 174.76 49.464 174.74L49.084 174.52C49.0653 174.511 49.0448 174.507 49.024 174.507C49.0032 174.507 48.9828 174.511 48.964 174.52L48.6 174.732C48.552 174.74 48.548 174.772 48.58 174.8Z"
        fill="#3A2C6D"></path>
      <path
        d="M48.04 174.48L48.44 174.7C48.4595 174.709 48.4806 174.713 48.502 174.713C48.5234 174.713 48.5445 174.709 48.564 174.7L48.928 174.492C48.964 174.492 48.968 174.44 48.928 174.42L48.528 174.2C48.5088 174.19 48.4876 174.185 48.466 174.185C48.4445 174.185 48.4232 174.19 48.404 174.2L48.04 174.408C48 174.428 48 174.46 48.04 174.48Z"
        fill="#3A2C6D"></path>
      <path
        d="M47.5 174.168L47.9 174.388C47.9185 174.398 47.9391 174.403 47.96 174.403C47.9809 174.403 48.0015 174.398 48.02 174.388L48.384 174.18C48.42 174.16 48.424 174.128 48.384 174.112L47.984 173.892C47.9648 173.882 47.9436 173.877 47.922 173.877C47.9004 173.877 47.8792 173.882 47.86 173.892L47.5 174.1C47.476 174.116 47.472 174.148 47.5 174.168Z"
        fill="#3A2C6D"></path>
      <path
        d="M46.964 173.856L47.364 174.076C47.3827 174.085 47.4032 174.09 47.424 174.09C47.4447 174.09 47.4652 174.085 47.484 174.076L47.848 173.864C47.884 173.864 47.888 173.812 47.848 173.796L47.448 173.576C47.4295 173.566 47.4089 173.561 47.388 173.561C47.3671 173.561 47.3465 173.566 47.328 173.576L46.964 173.784C46.936 173.808 46.932 173.836 46.964 173.856Z"
        fill="#3A2C6D"></path>
      <path
        d="M46.424 173.544L46.824 173.764C46.8425 173.774 46.8631 173.779 46.884 173.779C46.9049 173.779 46.9255 173.774 46.944 173.764L47.308 173.552C47.344 173.532 47.348 173.5 47.308 173.484L46.928 173.264C46.9095 173.254 46.8889 173.249 46.868 173.249C46.8471 173.249 46.8265 173.254 46.808 173.264L46.444 173.476C46.4 173.496 46.4 173.528 46.424 173.544Z"
        fill="#3A2C6D"></path>
      <path
        d="M45.884 173.232L46.284 173.452C46.3032 173.462 46.3244 173.467 46.346 173.467C46.3676 173.467 46.3888 173.462 46.408 173.452L46.772 173.244C46.808 173.22 46.808 173.192 46.772 173.172L46.372 172.952C46.3526 172.943 46.3314 172.938 46.31 172.938C46.2886 172.938 46.2674 172.943 46.248 172.952L45.884 173.164C45.856 173.2 45.852 173.2 45.884 173.232Z"
        fill="#3A2C6D"></path>
      <path
        d="M45.344 172.924L45.744 173.144C45.7628 173.153 45.7833 173.157 45.804 173.157C45.8247 173.157 45.8452 173.153 45.864 173.144L46.228 172.936C46.264 172.916 46.268 172.884 46.228 172.864L45.828 172.644C45.8088 172.634 45.7875 172.629 45.766 172.629C45.7444 172.629 45.7232 172.634 45.704 172.644L45.344 172.852C45.32 172.872 45.316 172.904 45.344 172.924Z"
        fill="#3A2C6D"></path>
      <path
        d="M44.8 172.612L45.2 172.832C45.2185 172.842 45.2391 172.847 45.26 172.847C45.2809 172.847 45.3015 172.842 45.32 172.832L45.684 172.624C45.72 172.604 45.724 172.572 45.684 172.556L45.284 172.336C45.2655 172.326 45.2449 172.321 45.224 172.321C45.2031 172.321 45.1825 172.326 45.164 172.336L44.8 172.544C44.8 172.56 44.776 172.592 44.8 172.612Z"
        fill="#3A2C6D"></path>
      <path
        d="M44.268 172.3L44.668 172.52C44.6867 172.529 44.7072 172.534 44.728 172.534C44.7487 172.534 44.7692 172.529 44.788 172.52L45.152 172.308C45.188 172.288 45.192 172.256 45.152 172.24L44.772 172.02C44.7535 172.01 44.7329 172.005 44.712 172.005C44.6911 172.005 44.6705 172.01 44.652 172.02L44.288 172.228C44.24 172.252 44.236 172.28 44.268 172.3Z"
        fill="#3A2C6D"></path>
      <path
        d="M43.728 172L44.128 172.22C44.1472 172.23 44.1684 172.235 44.19 172.235C44.2116 172.235 44.2328 172.23 44.252 172.22L44.616 172.008C44.652 171.988 44.652 171.956 44.616 171.94L44.216 171.72C44.1968 171.71 44.1756 171.705 44.154 171.705C44.1324 171.705 44.1112 171.71 44.092 171.72L43.728 171.932C43.7 171.94 43.696 171.972 43.728 172Z"
        fill="#3A2C6D"></path>
      <path
        d="M43.2 171.676L43.6 171.896C43.6185 171.906 43.6391 171.911 43.66 171.911C43.6809 171.911 43.7015 171.906 43.72 171.896L44.084 171.688C44.12 171.664 44.124 171.636 44.084 171.616L43.684 171.396C43.6646 171.387 43.6434 171.382 43.622 171.382C43.6006 171.382 43.5794 171.387 43.56 171.396L43.2 171.608C43.164 171.628 43.16 171.66 43.2 171.676Z"
        fill="#3A2C6D"></path>
      <path
        d="M42.4 171.2L43.04 171.572C43.0588 171.581 43.0793 171.586 43.1 171.586C43.1208 171.586 43.1413 171.581 43.16 171.572L43.524 171.364C43.56 171.344 43.564 171.312 43.524 171.292L42.884 170.924C42.8655 170.914 42.8449 170.909 42.824 170.909C42.8031 170.909 42.7825 170.914 42.764 170.924L42.4 171.136C42.364 171.168 42.36 171.2 42.4 171.2Z"
        fill="#3A2C6D"></path>
      <path
        d="M48.336 175.252L48.736 175.472C48.7548 175.481 48.7752 175.486 48.796 175.486C48.8168 175.486 48.8373 175.481 48.856 175.472L49.22 175.26C49.256 175.24 49.26 175.208 49.22 175.192L48.82 174.972C48.8015 174.962 48.7809 174.957 48.76 174.957C48.7391 174.957 48.7185 174.962 48.7 174.972L48.336 175.18C48.308 175.2 48.304 175.232 48.336 175.252Z"
        fill="#3A2C6D"></path>
      <path
        d="M47.796 174.94L48.196 175.16C48.2154 175.169 48.2366 175.174 48.258 175.174C48.2794 175.174 48.3006 175.169 48.32 175.16L48.68 174.948C48.716 174.928 48.72 174.896 48.68 174.88L48.28 174.66C48.2615 174.65 48.2409 174.645 48.22 174.645C48.1991 174.645 48.1785 174.65 48.16 174.66L47.796 174.872C47.768 174.892 47.764 174.924 47.796 174.94Z"
        fill="#3A2C6D"></path>
      <path
        d="M47.256 174.628L47.656 174.848C47.6752 174.858 47.6964 174.863 47.718 174.863C47.7395 174.863 47.7608 174.858 47.78 174.848L48.14 174.636C48.176 174.616 48.18 174.584 48.14 174.568L47.74 174.348C47.7215 174.338 47.7009 174.333 47.68 174.333C47.6591 174.333 47.6385 174.338 47.62 174.348L47.256 174.56C47.228 174.58 47.224 174.612 47.256 174.628Z"
        fill="#3A2C6D"></path>
      <path
        d="M46.716 174.316L47.096 174.536C47.1152 174.546 47.1364 174.551 47.158 174.551C47.1796 174.551 47.2008 174.546 47.22 174.536L47.58 174.324C47.616 174.304 47.62 174.272 47.58 174.256L47.18 174.036C47.1615 174.026 47.1409 174.021 47.12 174.021C47.0991 174.021 47.0785 174.026 47.06 174.036L46.696 174.248C46.688 174.268 46.684 174.3 46.716 174.316Z"
        fill="#3A2C6D"></path>
      <path
        d="M46.18 174L46.58 174.22C46.5994 174.229 46.6206 174.234 46.642 174.234C46.6634 174.234 46.6846 174.229 46.704 174.22L47.064 174.008C47.1 174.008 47.104 173.956 47.064 173.94L46.664 173.72C46.6455 173.71 46.6249 173.705 46.604 173.705C46.5831 173.705 46.5625 173.71 46.544 173.72L46.18 173.928C46.152 173.96 46.148 174 46.18 174Z"
        fill="#3A2C6D"></path>
      <path
        d="M45.64 173.696L46.04 173.916C46.0594 173.925 46.0806 173.93 46.102 173.93C46.1234 173.93 46.1445 173.925 46.164 173.916L46.524 173.704C46.56 173.684 46.564 173.652 46.524 173.636L46.124 173.416C46.1055 173.406 46.0849 173.401 46.064 173.401C46.0431 173.401 46.0225 173.406 46.004 173.416L45.64 173.624C45.6 173.648 45.6 173.676 45.64 173.696Z"
        fill="#3A2C6D"></path>
      <path
        d="M45.1 173.384L45.5 173.604C45.5194 173.613 45.5406 173.618 45.562 173.618C45.5834 173.618 45.6046 173.613 45.624 173.604L45.984 173.392C46.02 173.372 46.024 173.34 45.984 173.324L45.584 173.104C45.5655 173.094 45.5449 173.089 45.524 173.089C45.5031 173.089 45.4825 173.094 45.464 173.104L45.1 173.312C45.072 173.336 45.068 173.364 45.1 173.384Z"
        fill="#3A2C6D"></path>
      <path
        d="M44.56 173.072L44.94 173.292C44.9594 173.301 44.9806 173.306 45.002 173.306C45.0234 173.306 45.0446 173.301 45.064 173.292L45.428 173.08C45.46 173.06 45.464 173.028 45.428 173.012L45.028 172.792C45.0095 172.782 44.9889 172.777 44.968 172.777C44.9471 172.777 44.9265 172.782 44.908 172.792L44.544 173.004C44.532 173.024 44.528 173.056 44.56 173.072Z"
        fill="#3A2C6D"></path>
      <path
        d="M44.02 172.76L44.42 172.98C44.4392 172.99 44.4604 172.995 44.482 172.995C44.5036 172.995 44.5248 172.99 44.544 172.98L44.908 172.768C44.94 172.748 44.944 172.716 44.908 172.7L44.528 172.48C44.5088 172.47 44.4876 172.465 44.466 172.465C44.4444 172.465 44.4232 172.47 44.404 172.48L44.04 172.692C44 172.712 44 172.744 44.02 172.76Z"
        fill="#3A2C6D"></path>
      <path
        d="M43.48 172.448L43.88 172.668C43.8992 172.678 43.9204 172.683 43.942 172.683C43.9635 172.683 43.9848 172.678 44.004 172.668L44.368 172.456C44.404 172.436 44.404 172.404 44.368 172.388L43.968 172.168C43.9485 172.159 43.9274 172.154 43.906 172.154C43.8846 172.154 43.8634 172.159 43.844 172.168L43.48 172.38C43.452 172.4 43.448 172.432 43.48 172.448Z"
        fill="#3A2C6D"></path>
      <path
        d="M42.94 172.136L43.34 172.356C43.3592 172.366 43.3804 172.371 43.402 172.371C43.4236 172.371 43.4448 172.366 43.464 172.356L43.828 172.148C43.864 172.124 43.864 172.092 43.828 172.076L43.428 171.856C43.4086 171.847 43.3874 171.842 43.366 171.842C43.3446 171.842 43.3234 171.847 43.304 171.856L42.94 172.068C42.912 172.088 42.908 172.12 42.94 172.136Z"
        fill="#3A2C6D"></path>
      <path
        d="M42.4 171.824L42.8 172.044C42.8192 172.054 42.8404 172.059 42.862 172.059C42.8836 172.059 42.9048 172.054 42.924 172.044L43.288 171.836C43.324 171.812 43.328 171.784 43.288 171.764L42.888 171.544C42.8686 171.535 42.8474 171.53 42.826 171.53C42.8046 171.53 42.7834 171.535 42.764 171.544L42.4 171.756C42.372 171.776 42.368 171.808 42.4 171.824Z"
        fill="#3A2C6D"></path>
      <path
        d="M48.876 175.564L49.516 175.932C49.5345 175.942 49.5551 175.947 49.576 175.947C49.5969 175.947 49.6175 175.942 49.636 175.932L50 175.724C50.036 175.7 50.04 175.672 50 175.652L49.36 175.284C49.3415 175.274 49.3209 175.269 49.3 175.269C49.2791 175.269 49.2585 175.274 49.24 175.284L48.876 175.492C48.848 175.516 48.844 175.544 48.876 175.564Z"
        fill="#3A2C6D"></path>
      <path
        d="M42.356 171.232L42.756 171.452C42.7645 171.452 42.7726 171.455 42.7786 171.461C42.7846 171.467 42.788 171.475 42.788 171.484C42.788 171.492 42.7846 171.501 42.7786 171.507C42.7726 171.513 42.7645 171.516 42.756 171.516L42.356 171.74C42.3384 171.748 42.3193 171.752 42.3 171.752C42.2807 171.752 42.2616 171.748 42.244 171.74L42.212 171.72C42.1958 171.712 42.178 171.708 42.16 171.708C42.142 171.708 42.1242 171.712 42.108 171.72L41.708 171.956C41.6904 171.964 41.6713 171.968 41.652 171.968C41.6327 171.968 41.6136 171.964 41.596 171.956L41.352 171.816C41.32 171.796 41.32 171.768 41.352 171.752L41.752 171.532L41.832 171.488L41.888 171.452L41.944 171.42L42.272 171.232C42.2989 171.221 42.3291 171.221 42.356 171.232Z"
        fill="#3A2C6D"></path>
      <path
        d="M47.568 176.616L47.968 176.836C47.9865 176.846 48.0071 176.851 48.028 176.851C48.0489 176.851 48.0695 176.846 48.088 176.836L48.452 176.628C48.488 176.604 48.492 176.576 48.452 176.556L48.072 176.336C48.0533 176.327 48.0328 176.323 48.012 176.323C47.9913 176.323 47.9708 176.327 47.952 176.336L47.588 176.548C47.54 176.568 47.536 176.6 47.568 176.616Z"
        fill="#3A2C6D"></path>
      <path
        d="M47.028 176.308L47.428 176.528C47.4472 176.538 47.4684 176.543 47.49 176.543C47.5116 176.543 47.5328 176.538 47.552 176.528L47.912 176.32C47.948 176.32 47.952 176.268 47.912 176.248L47.512 176.032C47.4935 176.022 47.4729 176.017 47.452 176.017C47.4311 176.017 47.4105 176.022 47.392 176.032L47.028 176.24C47 176.256 46.996 176.288 47.028 176.308Z"
        fill="#3A2C6D"></path>
      <path
        d="M46.492 176L46.892 176.22C46.9105 176.23 46.9311 176.235 46.952 176.235C46.9729 176.235 46.9935 176.23 47.012 176.22L47.376 176.008C47.412 175.988 47.416 175.956 47.376 175.94L46.976 175.72C46.9575 175.71 46.9369 175.705 46.916 175.705C46.8951 175.705 46.8745 175.71 46.856 175.72L46.492 175.932C46.464 175.948 46.46 176 46.492 176Z"
        fill="#3A2C6D"></path>
      <path
        d="M41.912 173.352L42.312 173.572C42.3305 173.582 42.3511 173.587 42.372 173.587C42.3929 173.587 42.4135 173.582 42.432 173.572L42.796 173.364C42.832 173.364 42.836 173.312 42.796 173.292L42.396 173.072C42.3768 173.062 42.3555 173.057 42.334 173.057C42.3124 173.057 42.2912 173.062 42.272 173.072L41.912 173.28C41.888 173.304 41.884 173.336 41.912 173.352Z"
        fill="#3A2C6D"></path>
      <path
        d="M41.376 173.044L41.776 173.264C41.7955 173.273 41.8166 173.278 41.838 173.278C41.8594 173.278 41.8806 173.273 41.9 173.264L42.26 173.052C42.296 173.032 42.3 173 42.26 172.984L41.86 172.764C41.8415 172.754 41.8209 172.749 41.8 172.749C41.7791 172.749 41.7585 172.754 41.74 172.764L41.376 172.972C41.348 172.996 41.344 173.024 41.376 173.044Z"
        fill="#3A2C6D"></path>
      <path
        d="M40.84 172.732L41.24 172.952C41.2585 172.962 41.2791 172.967 41.3 172.967C41.3209 172.967 41.3415 172.962 41.36 172.952L41.724 172.744C41.76 172.72 41.764 172.692 41.724 172.672L41.324 172.452C41.3052 172.443 41.2848 172.439 41.264 172.439C41.2432 172.439 41.2228 172.443 41.204 172.452L40.84 172.664C40.8 172.684 40.8 172.716 40.84 172.732Z"
        fill="#3A2C6D"></path>
      <path
        d="M40.3 172.424L40.7 172.644C40.7185 172.654 40.7391 172.659 40.76 172.659C40.7809 172.659 40.8015 172.654 40.82 172.644L41.184 172.436C41.22 172.416 41.224 172.384 41.184 172.364L40.784 172.148C40.7648 172.138 40.7435 172.133 40.722 172.133C40.7004 172.133 40.6792 172.138 40.66 172.148L40.3 172.356C40.276 172.372 40.272 172.4 40.3 172.424Z"
        fill="#3A2C6D"></path>
      <path
        d="M45.816 175.6L46.336 175.896C46.3545 175.906 46.3751 175.911 46.396 175.911C46.4169 175.911 46.4375 175.906 46.456 175.896L46.82 175.688C46.856 175.668 46.86 175.636 46.82 175.616L46.3 175.316C46.2815 175.306 46.2609 175.301 46.24 175.301C46.2191 175.301 46.1985 175.306 46.18 175.316L45.816 175.524C45.788 175.556 45.784 175.6 45.816 175.6Z"
        fill="#3A2C6D"></path>
      <path
        d="M42.452 173.664L42.972 173.964C42.9908 173.973 43.0112 173.978 43.032 173.978C43.0528 173.978 43.0733 173.973 43.092 173.964L43.456 173.752C43.492 173.732 43.496 173.7 43.456 173.684L42.936 173.384C42.9175 173.374 42.8969 173.369 42.876 173.369C42.8551 173.369 42.8345 173.374 42.816 173.384L42.452 173.596C42.424 173.6 42.42 173.648 42.452 173.664Z"
        fill="#3A2C6D"></path>
      <path
        d="M43.128 174.056L45.66 175.516C45.6787 175.525 45.6992 175.53 45.72 175.53C45.7407 175.53 45.7612 175.525 45.78 175.516L46.144 175.304C46.18 175.284 46.184 175.252 46.144 175.236L43.612 173.772C43.5935 173.762 43.5729 173.757 43.552 173.757C43.5311 173.757 43.5105 173.762 43.492 173.772L43.128 173.98C43.1 174 43.096 174.036 43.128 174.056Z"
        fill="#3A2C6D"></path>
      <path
        d="M47.668 175.468L48.068 175.688C48.0865 175.698 48.1071 175.703 48.128 175.703C48.1489 175.703 48.1695 175.698 48.188 175.688L48.552 175.476C48.588 175.456 48.592 175.424 48.552 175.408L48.172 175.188C48.1532 175.179 48.1327 175.174 48.112 175.174C48.0912 175.174 48.0707 175.179 48.052 175.188L47.688 175.4C47.64 175.42 47.636 175.452 47.668 175.468Z"
        fill="#3A2C6D"></path>
      <path
        d="M47.128 175.156L47.528 175.376C47.5472 175.386 47.5684 175.391 47.59 175.391C47.6116 175.391 47.6328 175.386 47.652 175.376L48.012 175.168C48.048 175.148 48.052 175.116 48.012 175.096L47.612 174.876C47.5935 174.866 47.5729 174.861 47.552 174.861C47.5311 174.861 47.5105 174.866 47.492 174.876L47.128 175.084C47.1 175.108 47.096 175.14 47.128 175.156Z"
        fill="#3A2C6D"></path>
      <path
        d="M46.592 174.848L46.992 175.068C47.0105 175.078 47.0311 175.083 47.052 175.083C47.0729 175.083 47.0935 175.078 47.112 175.068L47.476 174.86C47.512 174.84 47.516 174.808 47.476 174.792L47.076 174.572C47.0575 174.562 47.0369 174.557 47.016 174.557C46.9951 174.557 46.9745 174.562 46.956 174.572L46.592 174.78C46.564 174.8 46.56 174.828 46.592 174.848Z"
        fill="#3A2C6D"></path>
      <path
        d="M46.052 174.536L46.452 174.756C46.4705 174.766 46.4911 174.771 46.512 174.771C46.5329 174.771 46.5535 174.766 46.572 174.756L46.936 174.544C46.972 174.524 46.976 174.492 46.936 174.476L46.536 174.256C46.5175 174.246 46.4969 174.241 46.476 174.241C46.4551 174.241 46.4345 174.246 46.416 174.256L46.052 174.468C46.024 174.488 46.02 174.52 46.052 174.536Z"
        fill="#3A2C6D"></path>
      <path
        d="M45.512 174.224L45.912 174.444C45.9305 174.454 45.9511 174.459 45.972 174.459C45.9929 174.459 46.0135 174.454 46.032 174.444L46.396 174.236C46.432 174.212 46.436 174.184 46.396 174.164L45.996 173.944C45.9766 173.935 45.9554 173.93 45.934 173.93C45.9126 173.93 45.8914 173.935 45.872 173.944L45.508 174.156C45.488 174.176 45.484 174.208 45.512 174.224Z"
        fill="#3A2C6D"></path>
      <path
        d="M44.976 173.916L45.376 174.136C45.3945 174.146 45.4151 174.151 45.436 174.151C45.4569 174.151 45.4775 174.146 45.496 174.136L45.86 173.928C45.896 173.908 45.9 173.876 45.86 173.856L45.46 173.636C45.4413 173.627 45.4208 173.622 45.4 173.622C45.3793 173.622 45.3588 173.627 45.34 173.636L44.976 173.844C44.948 173.864 44.944 173.896 44.976 173.916Z"
        fill="#3A2C6D"></path>
      <path
        d="M44.436 173.6L44.836 173.82C44.8554 173.829 44.8766 173.834 44.898 173.834C44.9194 173.834 44.9406 173.829 44.96 173.82L45.32 173.608C45.356 173.608 45.36 173.556 45.32 173.54L44.92 173.32C44.9015 173.31 44.8809 173.305 44.86 173.305C44.8391 173.305 44.8185 173.31 44.8 173.32L44.436 173.528C44.4 173.556 44.4 173.6 44.436 173.6Z"
        fill="#3A2C6D"></path>
      <path
        d="M43.9 173.292L44.3 173.512C44.3185 173.522 44.3391 173.527 44.36 173.527C44.3809 173.527 44.4015 173.522 44.42 173.512L44.784 173.3C44.82 173.28 44.824 173.248 44.784 173.232L44.384 173.012C44.3652 173.003 44.3447 172.999 44.324 172.999C44.3032 172.999 44.2827 173.003 44.264 173.012L43.9 173.224C43.872 173.244 43.868 173.276 43.9 173.292Z"
        fill="#3A2C6D"></path>
      <path
        d="M43.36 172.98L43.74 173.2C43.7585 173.21 43.7791 173.215 43.8 173.215C43.8209 173.215 43.8415 173.21 43.86 173.2L44.224 172.992C44.26 172.972 44.264 172.94 44.224 172.92L43.824 172.7C43.8055 172.69 43.7849 172.685 43.764 172.685C43.7431 172.685 43.7225 172.69 43.704 172.7L43.34 172.908C43.332 172.932 43.328 172.964 43.36 172.98Z"
        fill="#3A2C6D"></path>
      <path
        d="M42.82 172.672L43.22 172.892C43.2392 172.902 43.2604 172.907 43.282 172.907C43.3036 172.907 43.3248 172.902 43.344 172.892L43.708 172.684C43.744 172.664 43.748 172.632 43.708 172.616L43.328 172.396C43.3088 172.386 43.2876 172.381 43.266 172.381C43.2444 172.381 43.2232 172.386 43.204 172.396L42.84 172.604C42.8 172.62 42.8 172.652 42.82 172.672Z"
        fill="#3A2C6D"></path>
      <path
        d="M42.284 172.36L42.684 172.58C42.7025 172.59 42.7231 172.595 42.744 172.595C42.7649 172.595 42.7855 172.59 42.804 172.58L43.168 172.368C43.204 172.348 43.208 172.316 43.168 172.3L42.768 172.08C42.7495 172.07 42.7289 172.065 42.708 172.065C42.6871 172.065 42.6665 172.07 42.648 172.08L42.284 172.292C42.256 172.312 42.252 172.344 42.284 172.36Z"
        fill="#3A2C6D"></path>
      <path
        d="M41.744 172.048L42.144 172.268C42.1632 172.278 42.1844 172.283 42.206 172.283C42.2276 172.283 42.2488 172.278 42.268 172.268L42.628 172.06C42.664 172.036 42.668 172.008 42.628 171.988L42.228 171.768C42.2092 171.759 42.1887 171.755 42.168 171.755C42.1472 171.755 42.1267 171.759 42.108 171.768L41.744 171.98C41.716 172 41.712 172.032 41.744 172.048Z"
        fill="#3A2C6D"></path>
      <path
        d="M48.204 175.78L49.004 176.236C49.0228 176.245 49.0433 176.25 49.064 176.25C49.0848 176.25 49.1053 176.245 49.124 176.236L49.488 176.028C49.524 176.008 49.528 175.976 49.488 175.956L48.688 175.504C48.6688 175.494 48.6476 175.489 48.626 175.489C48.6044 175.489 48.5832 175.494 48.564 175.504L48.204 175.712C48.18 175.732 48.176 175.76 48.204 175.78Z"
        fill="#3A2C6D"></path>
      <path
        d="M47.412 175.924L47.812 176.144C47.8305 176.154 47.8511 176.159 47.872 176.159C47.8929 176.159 47.9135 176.154 47.932 176.144L48.296 175.932C48.332 175.912 48.336 175.88 48.296 175.864L47.916 175.644C47.8973 175.635 47.8768 175.63 47.856 175.63C47.8353 175.63 47.8148 175.635 47.796 175.644L47.432 175.856C47.384 175.876 47.38 175.908 47.412 175.924Z"
        fill="#3A2C6D"></path>
      <path
        d="M46.872 175.6L47.272 175.82C47.2905 175.83 47.3111 175.835 47.332 175.835C47.3529 175.835 47.3735 175.83 47.392 175.82L47.756 175.612C47.792 175.592 47.796 175.56 47.756 175.54L47.356 175.32C47.3368 175.31 47.3156 175.305 47.294 175.305C47.2724 175.305 47.2512 175.31 47.232 175.32L46.872 175.528C46.848 175.564 46.844 175.6 46.872 175.6Z"
        fill="#3A2C6D"></path>
      <path
        d="M46.336 175.304L46.736 175.524C46.7545 175.534 46.7751 175.539 46.796 175.539C46.8169 175.539 46.8375 175.534 46.856 175.524L47.22 175.316C47.256 175.316 47.26 175.264 47.22 175.248L46.82 175.028C46.8015 175.018 46.7809 175.013 46.76 175.013C46.7391 175.013 46.7185 175.018 46.7 175.028L46.336 175.236C46.308 175.252 46.304 175.284 46.336 175.304Z"
        fill="#3A2C6D"></path>
      <path
        d="M45.796 174.992L46.196 175.212C46.2152 175.222 46.2364 175.227 46.258 175.227C46.2796 175.227 46.3008 175.222 46.32 175.212L46.684 175C46.716 174.98 46.72 174.948 46.684 174.932L46.284 174.712C46.2648 174.702 46.2436 174.697 46.222 174.697C46.2004 174.697 46.1792 174.702 46.16 174.712L45.796 174.924C45.768 174.944 45.764 174.976 45.796 174.992Z"
        fill="#3A2C6D"></path>
      <path
        d="M45.26 174.68L45.64 174.9C45.6585 174.91 45.6791 174.915 45.7 174.915C45.7209 174.915 45.7415 174.91 45.76 174.9L46.124 174.692C46.16 174.668 46.164 174.64 46.124 174.62L45.724 174.4C45.7053 174.391 45.6848 174.387 45.664 174.387C45.6433 174.387 45.6228 174.391 45.604 174.4L45.24 174.612C45.232 174.632 45.228 174.664 45.26 174.68Z"
        fill="#3A2C6D"></path>
      <path
        d="M44.72 174.372L45.12 174.592C45.1392 174.602 45.1604 174.607 45.182 174.607C45.2036 174.607 45.2248 174.602 45.244 174.592L45.604 174.384C45.64 174.364 45.644 174.332 45.604 174.312L45.204 174.092C45.1852 174.083 45.1647 174.079 45.144 174.079C45.1233 174.079 45.1028 174.083 45.084 174.092L44.72 174.3C44.692 174.32 44.688 174.352 44.72 174.372Z"
        fill="#3A2C6D"></path>
      <path
        d="M44.18 174.06L44.58 174.28C44.5987 174.289 44.6192 174.294 44.64 174.294C44.6607 174.294 44.6812 174.289 44.7 174.28L45.064 174.068C45.1 174.048 45.104 174.016 45.064 174L44.664 173.78C44.6448 173.77 44.6236 173.765 44.602 173.765C44.5804 173.765 44.5592 173.77 44.54 173.78L44.18 173.988C44.156 174 44.152 174.04 44.18 174.06Z"
        fill="#3A2C6D"></path>
      <path
        d="M43.644 173.748L44.044 173.968C44.0625 173.978 44.0831 173.983 44.104 173.983C44.1249 173.983 44.1455 173.978 44.164 173.968L44.528 173.76C44.564 173.736 44.568 173.708 44.528 173.688L44.128 173.468C44.1092 173.459 44.0887 173.454 44.068 173.454C44.0472 173.454 44.0267 173.459 44.008 173.468L43.644 173.68C43.6 173.7 43.6 173.732 43.644 173.748Z"
        fill="#3A2C6D"></path>
      <path
        d="M43.104 173.44L43.484 173.66C43.5035 173.669 43.5246 173.673 43.546 173.673C43.5674 173.673 43.5885 173.669 43.608 173.66L43.972 173.452C44.008 173.432 44.012 173.4 43.972 173.38L43.572 173.16C43.5528 173.15 43.5316 173.145 43.51 173.145C43.4884 173.145 43.4672 173.15 43.448 173.16L43.084 173.368C43.08 173.388 43.076 173.42 43.104 173.44Z"
        fill="#3A2C6D"></path>
      <path
        d="M42.568 173.128L42.968 173.348C42.9868 173.357 43.0073 173.362 43.028 173.362C43.0488 173.362 43.0693 173.357 43.088 173.348L43.452 173.136C43.488 173.116 43.492 173.084 43.452 173.068L43.072 172.848C43.0535 172.838 43.0329 172.833 43.012 172.833C42.9911 172.833 42.9705 172.838 42.952 172.848L42.588 173.056C42.54 173.08 42.536 173.108 42.568 173.128Z"
        fill="#3A2C6D"></path>
      <path
        d="M42.028 172.8L42.428 173.02C42.4472 173.03 42.4684 173.035 42.49 173.035C42.5115 173.035 42.5328 173.03 42.552 173.02L42.912 172.808C42.948 172.788 42.952 172.756 42.912 172.74L42.512 172.52C42.4932 172.511 42.4727 172.507 42.452 172.507C42.4312 172.507 42.4107 172.511 42.392 172.52L42.028 172.732C42 172.768 42 172.8 42.028 172.8Z"
        fill="#3A2C6D"></path>
      <path
        d="M40.824 172.12L41.872 172.724C41.8905 172.734 41.9111 172.739 41.932 172.739C41.9529 172.739 41.9735 172.734 41.992 172.724L42.356 172.516C42.392 172.516 42.396 172.464 42.356 172.444L41.308 171.84C41.2892 171.831 41.2688 171.827 41.248 171.827C41.2272 171.827 41.2068 171.831 41.188 171.84L40.824 172.052C40.8 172.072 40.8 172.104 40.824 172.12Z"
        fill="#3A2C6D"></path>
      <path
        d="M47.952 176.236L48.468 176.536C48.4875 176.545 48.5086 176.55 48.53 176.55C48.5514 176.55 48.5726 176.545 48.592 176.536L48.952 176.324C48.988 176.304 48.992 176.272 48.952 176.256L48.432 175.956C48.4135 175.946 48.3929 175.941 48.372 175.941C48.3511 175.941 48.3305 175.946 48.312 175.956L47.948 176.164C47.924 176.188 47.92 176.216 47.952 176.236Z"
        fill="#3A2C6D"></path>
      <path
        d="M51.896 175.164L43.256 170.176V163.376L43.324 163.224L43.396 163.188C43.487 163.137 43.5896 163.11 43.694 163.11C43.7984 163.11 43.901 163.137 43.992 163.188L51.896 167.756C51.9872 167.808 52.0631 167.883 52.1158 167.973C52.1685 168.064 52.1962 168.167 52.196 168.272V174.644C52.14 174.98 52.08 175.06 51.896 175.164Z"
        fill="#E5E5E5"></path>
      <path
        d="M51.104 168.58L43.256 163.6V163.372L43.324 163.22L43.396 163.184C43.487 163.133 43.5897 163.106 43.694 163.106C43.7984 163.106 43.9011 163.133 43.992 163.184L51.896 167.752C51.9928 167.806 52.0719 167.886 52.124 167.984L51.104 168.58Z"
        fill="#E5E5E5"></path>
      <path
        d="M43.456 163.228L51.752 168.028C51.7959 168.053 51.8323 168.089 51.8576 168.132C51.8829 168.176 51.8962 168.226 51.896 168.276V175.172L43.256 170.184V163.344C43.2555 163.32 43.2613 163.297 43.2729 163.276C43.2845 163.256 43.3013 163.239 43.3218 163.227C43.3422 163.215 43.3654 163.209 43.389 163.209C43.4126 163.209 43.4358 163.216 43.456 163.228Z"
        fill="#DCEEFF"></path>
      <path
        d="M43.456 163.228L51.752 168.028C51.7959 168.053 51.8323 168.089 51.8576 168.132C51.8829 168.176 51.8962 168.226 51.896 168.276V175.172L43.256 170.184V163.344C43.2555 163.32 43.2613 163.297 43.2729 163.276C43.2845 163.256 43.3013 163.239 43.3218 163.227C43.3422 163.215 43.3654 163.209 43.389 163.209C43.4126 163.209 43.4358 163.216 43.456 163.228Z"
        fill="#F4F4F4"></path>
      <path
        d="M51.896 175.164V174.92L43.256 169.928V170.176L51.896 175.164Z"
        fill="#DBDBDB"></path>
      <path
        d="M43.48 169.816V163.584L43.588 163.644V169.76L43.48 169.816Z"
        fill="#1E3779"></path>
      <path
        d="M43.588 163.644V169.76L51.62 174.388V168.284L43.588 163.644Z"
        fill="#3A2C6D"></path>
      <path
        d="M43.48 169.816L51.62 174.512V174.388L43.588 169.76L43.48 169.816Z"
        fill="#031F60"></path>
      <path
        d="M34.176 162.148C33.972 162.66 34.496 163.284 35.888 163.724C37.28 164.164 37.408 163.6 37.408 163.6C38.3355 164.014 39.2396 164.479 40.116 164.992C40.952 165.58 41.316 167.268 41.432 170.124C41.564 173.428 41.576 178.332 41.464 179.176C41.464 179.176 39.904 180.736 37.904 180.572C35.904 180.408 32.54 178.636 31.724 177.272C31.724 174.372 32.084 173.9 31.616 172.232C30.54 168.412 29.976 166.848 30.496 164.308C30.928 162.216 31.532 161.956 32.356 161.976C32.9653 162.001 33.5729 162.058 34.176 162.148Z"
        fill="#F4F4F4"></path>
      <path
        d="M44.724 173.668C43.08 174.068 42.696 173.048 42.48 172.188C41.96 170.116 41.68 168.24 41.28 167.064C40.82 165.676 40.34 165.464 39.68 165.184C38.88 164.868 38.204 165.536 38.48 167.304C38.8026 169.355 39.3059 171.374 39.984 173.336C40.188 173.984 40.648 175.132 41.332 175.684C42.18 176.368 43.452 176.34 45.384 175.86C46.184 175.656 47.108 175.164 48.664 174.436C49.064 174.244 49.408 174.112 50.208 173.74C51.0147 173.382 51.7218 172.833 52.268 172.14C52.688 171.532 52.744 171.248 52.668 171.108C52.592 170.968 52.372 170.972 52.148 171.228C51.8191 171.663 51.4122 172.034 50.948 172.32C50.948 172.32 51.468 171.788 51.748 171.44C52.0018 171.132 52.2106 170.79 52.368 170.424C52.52 170.068 52.212 169.588 51.968 169.84C51.724 170.092 51.624 170.352 51.2 170.86C50.9776 171.132 50.7223 171.375 50.44 171.584C50.7035 171.228 50.9376 170.85 51.14 170.456C51.3228 170.15 51.4118 169.796 51.396 169.44C51.396 169.252 51.124 169.04 50.876 169.384C50.6386 169.867 50.3431 170.32 49.996 170.732C49.62 171.132 49.304 171.344 49.292 171.236C49.28 171.128 49.52 170.916 49.652 170.464C49.784 170.012 49.652 169.528 49.404 169.476C49.156 169.424 49.2 169.44 49.004 169.876C48.727 170.311 48.4785 170.764 48.26 171.232C48.1321 171.668 47.9001 172.066 47.584 172.392C47.176 172.8 46.284 173.276 44.724 173.668Z"
        fill="#FFCEA9"></path>
      <path
        d="M39.068 164.9C40.164 164.74 40.936 165.232 41.42 166.9C41.904 168.568 42.244 169.924 42.244 169.924C41.8059 170.542 41.1498 170.971 40.408 171.124C39.096 171.44 38.624 170.816 38.624 170.816C38.624 170.816 38.26 169.072 38.036 167.888C37.812 166.704 37.712 165.1 39.068 164.9Z"
        fill="#EDEDED"></path>
      <path
        d="M39.6 156.4C39.6 156.4 41.332 153.768 37.6 153.232C34.892 152.832 33.156 154.584 32.952 156.468C32.76 158.272 33.872 160.144 34.672 160.888C35.4604 161.085 36.2936 160.984 37.012 160.604C37.0569 160.113 37.0742 159.621 37.064 159.128C37.064 159.128 35.732 156.352 39.6 156.4Z"
        fill="#3A2C6D"></path>
      <path
        d="M47.116 189.704V181.8L40.84 185.464L43.256 190.464L47.116 189.704Z"
        fill="#C4C7D6"></path>
      <path
        d="M43.004 182.256L45.412 180.856L47.116 181.844L44.62 183.26L43.004 182.256Z"
        fill="#D6D8E5"></path>
      <path
        opacity="0.4"
        d="M12.7 138.252L2.00001 131.976C0.800015 131.264 0.936015 130.02 2.34001 129.2L7.78001 126C9.18401 125.2 11.304 125.092 12.52 125.804L23.236 132.08C24.436 132.788 24.296 134.032 22.896 134.856L17.456 138.056C16.036 138.876 13.912 138.964 12.7 138.252Z"
        fill="#D6D8E5"></path>
      <path
        d="M26 132.064V116.892L3.112 114.28V129.548C3.11638 129.809 3.19358 130.064 3.33491 130.284C3.47624 130.504 3.6761 130.68 3.912 130.792L14.64 137.068C15.84 137.78 17.98 137.692 19.38 136.868L24.82 133.668C25.62 133.204 26.02 132.608 25.98 132.068L26 132.064Z"
        fill="#D6D8E5"></path>
      <path
        d="M25.976 118.548V116.892H24.216L14.448 111.164C13.248 110.452 11.108 110.544 9.708 111.364L4.268 114.564C4.16981 114.62 4.07498 114.681 3.984 114.748L3.112 114.28C3.112 114.28 3.112 116.028 3.112 116.088C3.11802 116.348 3.19594 116.602 3.33712 116.821C3.47831 117.04 3.67727 117.215 3.912 117.328L14.64 123.6C15.84 124.312 17.98 124.22 19.38 123.4L24.82 120.2C25.62 119.724 26.02 119.108 25.976 118.532V118.548Z"
        fill="#EDF0F9"></path>
      <path
        d="M14.64 121.8L3.92799 115.524C2.72799 114.812 2.86399 113.568 4.26799 112.748L9.70799 109.548C11.108 108.748 13.232 108.636 14.448 109.348L25.164 115.624C26.364 116.336 26.224 117.58 24.82 118.4L19.38 121.6C18 122.42 15.856 122.512 14.64 121.8Z"
        fill="#E2E5F2"></path>
      <path
        d="M12.228 113.232V112.628H11.864L11.748 112.556C11.3901 112.371 10.993 112.274 10.59 112.274C10.187 112.274 9.78991 112.371 9.43199 112.556C9.36359 112.595 9.29927 112.64 9.23999 112.692L8.95599 112.628V113.232C8.96554 113.378 9.01497 113.519 9.0989 113.639C9.18283 113.758 9.29804 113.853 9.43199 113.912C9.79049 114.095 10.1874 114.191 10.59 114.191C10.9926 114.191 11.3895 114.095 11.748 113.912C11.8807 113.851 11.9949 113.756 12.0791 113.636C12.1634 113.517 12.2147 113.378 12.228 113.232Z"
        fill="#809BCE"></path>
      <path
        d="M10.592 113.588C11.4955 113.588 12.228 113.158 12.228 112.628C12.228 112.098 11.4955 111.668 10.592 111.668C9.68846 111.668 8.95599 112.098 8.95599 112.628C8.95599 113.158 9.68846 113.588 10.592 113.588Z"
        fill="#809BCE"></path>
      <path
        d="M16.18 115.508V114.904H15.816L15.704 114.832C15.3461 114.647 14.949 114.55 14.546 114.55C14.143 114.55 13.7459 114.647 13.388 114.832C13.3177 114.87 13.252 114.915 13.192 114.968L12.908 114.904V115.508C12.9212 115.654 12.9726 115.793 13.0568 115.912C13.1411 116.032 13.2553 116.127 13.388 116.188C13.7465 116.371 14.1434 116.467 14.546 116.467C14.9486 116.467 15.3455 116.371 15.704 116.188C15.8379 116.129 15.9532 116.034 16.0371 115.915C16.121 115.795 16.1704 115.654 16.18 115.508Z"
        fill="#809BCE"></path>
      <path
        d="M14.544 115.864C15.4475 115.864 16.18 115.434 16.18 114.904C16.18 114.374 15.4475 113.944 14.544 113.944C13.6405 113.944 12.908 114.374 12.908 114.904C12.908 115.434 13.6405 115.864 14.544 115.864Z"
        fill="#809BCE"></path>
      <path
        d="M20.14 117.94V117.336H19.772L19.66 117.264C19.3021 117.079 18.905 116.982 18.502 116.982C18.099 116.982 17.7019 117.079 17.344 117.264C17.2746 117.303 17.209 117.349 17.148 117.4L16.864 117.336V117.94C16.8765 118.086 16.9275 118.226 17.0118 118.345C17.0962 118.465 17.2108 118.559 17.344 118.62C17.7019 118.805 18.099 118.902 18.502 118.902C18.905 118.902 19.3021 118.805 19.66 118.62C19.7932 118.559 19.9078 118.465 19.9922 118.345C20.0765 118.226 20.1276 118.086 20.14 117.94Z"
        fill="#809BCE"></path>
      <path
        d="M18.5 118.296C19.4036 118.296 20.136 117.866 20.136 117.336C20.136 116.806 19.4036 116.376 18.5 116.376C17.5965 116.376 16.864 116.806 16.864 117.336C16.864 117.866 17.5965 118.296 18.5 118.296Z"
        fill="#809BCE"></path>
    </g>
    <defs>
      <clipPath id="clip0_201_921">
        <rect width="183.188" height="200" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</div>

<style>
  @keyframes slide {
    0% {
      transform: translate(0%, 0%);
    }
    50% {
      transform: translate(-10%, -5%);
    }
    100% {
      transform: translate(0%, 0%);
    }
  }

  .title {
    margin: 0 0 2rem;
    text-align: center;
  }

  .portfolio-container:hover #painting {
    animation: slide 4000ms infinite;
  }
</style>
