<div
  class="flex flex-col md:flex-row justify-center items-center mb-20 md:mb-32 px-4 md:px-0"
>
  <div class="flex items-center justify-between">
    <img
      class="h-32 w-32 md:h-40 md:w-40 rounded-full md:mr-10"
      src={`${import.meta.env.PUBLIC_CLOUDINARY_URL}/profilpicsquare_qphjkn`}
      alt="profile picture"
    />
    <h1 class="font-bold text-4xl mb-3 dark:text-slate-200 ml-4 md:hidden">
      George Fairbairn
    </h1>
  </div>
  <div class="flex flex-col justify-between mt-10 md:mt-0">
    <h1 class="font-bold text-5xl mb-3 dark:text-slate-200 hidden md:block">
      George Fairbairn
    </h1>
    <p class="max-w-lg dark:text-slate-400">
      I&#8217;m a Vancouver-based Software Engineer specializing in building
      exceptional digital experiences on the web. Currently, I&#8217;m a
      Frontend Engineer at <img
        class="inline h-auto w-4 mr-1"
        src={`${import.meta.env.PUBLIC_CLOUDINARY_URL}/Slack_zhfq4x`}
      /><strong>Slack</strong>, helping make people&#8217;s lives more simple,
      pleasant and productive.
    </p>
  </div>
</div>
