<div class="flex justify-center items-center mb-32">
  <div>
    <img
      class="h-40 w-40 rounded-full mr-10"
      src={`${import.meta.env.PUBLIC_CLOUDINARY_URL}/profilpicsquare_qphjkn`}
      alt="profile picture"
    />
  </div>
  <div class="flex flex-col justify-between">
    <h1 class="font-bold text-5xl mb-3 dark:text-slate-200">
      George Fairbairn
    </h1>
    <p class="max-w-lg dark:text-slate-400">
      I&#8217;m a Vancouver-based Software Engineer specializing in building
      exceptional digital experiences on the web. Currently, I&#8217;m a
      Frontend Engineer at <img
        class="inline h-auto w-4 mr-1"
        src={`${import.meta.env.PUBLIC_CLOUDINARY_URL}/Slack_zhfq4x`}
      /><strong>Slack</strong>, helping make people&#8217;s lives more simple,
      pleasant and productive.
    </p>
  </div>
</div>
