---
import NavIcon from "../components/NavIcon.astro";
import "../styles/global.css";

const { title } = Astro.props;
const { url } = Astro.request;

let shouldShowBackButton: boolean;
if (import.meta.env.DEV) {
  shouldShowBackButton = url.toString() !== import.meta.env.PUBLIC_DEV_URL;
} else {
  shouldShowBackButton = url.toString() !== import.meta.env.PUBLIC_PROD_URL;
}
---

<html lang="en">
  <head>
    <title>George Fairbairn | {title}</title>
  </head>
  <body class="font-sans py-16 max-w-7xl m-auto h-screen bg-stone-100">
    <nav class="flex justify-between items-center mb-20">
      {shouldShowBackButton && <NavIcon icon="back" />}
      <div class="flex flex-1 justify-end items-center">
        <NavIcon icon="twitter" />
        <NavIcon icon="github" />
        <NavIcon icon="linkedin" />
        <NavIcon emoji client:idle />
      </div>
    </nav>
    <slot />
    <p class="text-center text-xs px-0 pt-32 pb-16">
      <span>&copy;</span>
      <span>{`${new Date().getFullYear()} George Fairbairn`}</span>
    </p>
  </body>
</html>

<script>
  const currentTheme = localStorage.getItem("gf-theme");
  const defaultTheme = "light";
  if (!currentTheme) {
    localStorage.setItem("gf-theme", defaultTheme);
  }
</script>
