---
// import NavIcon from "../components/NavIcon/NavIcon.tsx";
import NavIcon from "../components/NavIcon.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <title>George Fairbairn | {title}</title>
    <style global>
      @import "../styles/global.css";
    </style>
  </head>
  <body class="light-theme">
    <nav>
      <NavIcon icon="twitter" />
      <NavIcon icon="github" />
      <NavIcon icon="linkedin" />
      <NavIcon emoji client:idle />
    </nav>
    <slot />
    <p class="copyright">
      {`&copy; ${new Date().getFullYear()} George Fairbairn`}
    </p>
  </body>
</html>

<script>
  const currentTheme = localStorage.getItem("gf-theme");
  const defaultTheme = "light";
  if (!currentTheme) {
    localStorage.setItem("gf-theme", defaultTheme);
  }
</script>

<style>
  .copyright {
    text-align: center;
    font-size: 0.75rem;
    margin-top: 8rem;
  }
</style>
