---
import NavIcon from "../components/NavIcon.astro";

const { title } = Astro.props;
const { url } = Astro.request;

let shouldShowBackButton: boolean;
if (import.meta.env.DEV) {
  shouldShowBackButton = url.toString() !== import.meta.env.PUBLIC_DEV_URL;
} else {
  shouldShowBackButton = url.toString() !== import.meta.env.PUBLIC_PROD_URL;
}
---

<html lang="en">
  <head>
    <title>George Fairbairn | {title}</title>
    <style global>
      @import "../styles/global.css";
    </style>
  </head>
  <body class="light-theme">
    <nav>
      {shouldShowBackButton && <NavIcon icon="back" />}
      <div class="nav-right">
        <NavIcon icon="twitter" />
        <NavIcon icon="github" />
        <NavIcon icon="linkedin" />
        <NavIcon emoji client:idle />
      </div>
    </nav>
    <slot />
    <p class="copyright">
      {`&copy; ${new Date().getFullYear()} George Fairbairn`}
    </p>
  </body>
</html>

<script>
  const currentTheme = localStorage.getItem("gf-theme");
  const defaultTheme = "light";
  if (!currentTheme) {
    localStorage.setItem("gf-theme", defaultTheme);
  }
</script>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
  }

  .nav-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }

  .copyright {
    text-align: center;
    font-size: 0.75rem;
    padding: 8rem 0 4rem;
  }
</style>
